a {
	text-decoration:none;
	color:#005bab;
}
a:hover{
	text-decoration:none;
	color:#ff8a00;
}
/********************** µÇÂ¼ÇøÓò************************/
#center{
	width:950px;
	margin:40px auto 30px;
}
#center .login_top{
	margin-left:192px;
	width:566px;
	background:url(../images/login_top_bg.jpg) no-repeat;
	height:21px;
}
#center .login_center{
	margin:0px 0px 0px 192px;
	background:url(../images/login_center_bg.jpg) repeat-y;
	width:566px;
	padding-top:15px;
	padding-bottom:15px;
	color:#266aaa;
}
#center .login_bottom{
	margin-left:192px;
	background:url(../images/login_bottom_bg.jpg) no-repeat;
	height:21px;
	width:566px;
}
