<div>
	<div dojoAttachPoint="wipeNode">
	<table width="100%" border="0" cellpadding="0" cellspacing="0" dojoAttachPoint="styleArea">
	<tr>
		<td width="17" valign="top">
			<img dojoAttachPoint="messageIcon" src="${criticalIcon}" alt="${resources.DIALOG_ERROR}" border="0" style="padding-right:7px" />
		</td>
		<td>
			<div dojoAttachPoint="messageNode" class="message-description"></div>
		</td>
		<td width="18">
			<img dojoAttachPoint="closeBtn" class="messageAreaCloseIcon" src="${closeIcon}" alt="${resources.DIALOG_BUTTON_CLOSE}" border="0" dojoAttachEvent="onclick: _onCloseClick" />
		</td>
	</tr>
	</table>
	</div>
</div>