<div>
<table dojoAttachPoint="tableContainer" class="tableToolbar" id="${id}tableContainer" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr dojoAttachPoint="wipeNode">
		<td class="TIPTableToolbarArea">
			<div dojoType="dijit.Toolbar" dojoAttachPoint="toolbar" class="tableToolbarArea" ></div>
		</td>
	    <td class="TIPTableSearchFieldArea">
		    <div dojoType="ibm.tivoli.tip.dijit.TIPTableSearchField" dojoAttachPoint="searchField"></div>
	    </td>
	</tr>
	<tr class="TIPTableToggle">
		<td colspan="2">
			<div class='tipDescriptionAreaClose' dojoAttachPoint='closeNode' tabIndex="0" dojoAttachEvent="onclick:toggleToolbar,onkeypress:onToggleKeyPress"></div>
		</td>
	</tr>
<tr>
  <td id="${id}gridContainerCell" dojoAttachPoint="gridContainerCell" colspan="2" height="200px" valign="top">
	<div id="${id}gridContainer" dojoAttachPoint="gridContainer" ></div>
  </td>
</tr>
<tr>
  <td colspan="2" valign="top">
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<tbody>
			<tr class="isc-table-footer" dir="ltr">
				<td class="isc-table-footer-cap-l" valign="bottom" nowrap="nowrap" align="left">
				</td>
				<td>
					<div dojoType="dijit.Toolbar" dojoAttachPoint="footerToolbar" class="tableToolbarArea" ></div>
				</td>
				
				<td class="isc-table-footer-data" nowrap="nowrap" align="right"> 
					<div id="${id}footer" dojoAttachPoint="footer" ></div>
				</td>
				<td class="isc-table-footer-cap-r" valign="bottom" nowrap="nowrap" align="right">
				</td>
			</tr>  
		</tbody>
	</table>
  </td>
</tr>
</table>
</div>