<table class="tableFooter" cellspacing="0" cellpadding="0" border="0">
	<tbody>
		<tr class="isc-table-footer" dir="ltr">
			<td class="isc-table-footer-cap-l" valign="bottom" nowrap="nowrap" align="left">
			</td>
			<td class="isc-table-footer-data" width="100%" nowrap="nowrap" align="left"> 
				<div dojoType="dijit.Toolbar" dojoAttachPoint="toolbar" class="tableToolbarArea" ></div>
			</td>			
			<td class="isc-table-footer-data" nowrap="nowrap" valign="middle" align="right"> 
				<div dojoAttachPoint="infoArea" class="footerLabel"></div>
			</td>
			<td class="isc-table-footer-cap-r" valign="bottom" nowrap="nowrap" align="right">
			</td>
		</tr>  
	</tbody>
</table>
