<div class="quick-filter" align="right">
<table cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td dojoAttachPoint="colFilter" class="qf-lcap" width="20px" valign="top" dojoAttachEvent='onmouseover:_onHover,onmouseout:_onUnHover'>
</td>
<td class="qf-mid" width="170" valign="middle">
<label style="display: none;" for="${id}_searchField" > ${resources_.SEARCH_TEXT}</label> 
<input id="${id}_searchField" title="${resources_.SEARCH_TEXT}" dojoAttachPoint="searchField" class="qf-textfield-label" type="text" valign="middle" dojoAttachEvent='onfocus:_onFocus,onblur:_onBlur,onkeypress:_onKeyPress' />

</td>
<td class="qf-rcap" width="15"/>
</tr>
</tbody>
</table>
</div>
