<div class="dateRange" style="position: relative;" dojoAttachPoint="masterReference">
<!--
 * Licensed Materials - Property of IBM
 * 5724-W78
 * (C) Copyright IBM Corp. 2009
 * All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
	<table style="padding: 0 0 0 0; ">
	<tr> <!-- top row includes duration input + progress spinner -->
		<td colspan="2" style="padding-bottom: 5px;">
			<div class="dateRangeDurationInput" style="display:inline;margin-right;1em; ">
				<table>
				<tr><td>
					<label for="${id}_duration_input" class="durationlabel" style="margin-left:inherit;">For the following duration</label>
				</td></tr>
				<tr><td style="vertical-align: middle;">
					<input type="text" id="${id}_duration_input" dojoType="dijit.form.ValidationTextBox" 
							disabled="${unbounded}" required="true" invalidMessage="Duration must be an integer &gt; 0" regExp="\d*"
							dojoAttachEvent="onKeyDown:_durationKeyDown,onBlur:_onDurationValueChange" style="width: 5em;margin-bottom:.4em;">
					<select id="${id}_durationUnits" dojoType="dojox.form.DropDownSelect" dojoAttachEvent="onChange: _onDurationTypeChange">
						<option value="day">Days</option>
						<option value="hour">Hours</option>
						<option value="forever">Forever</option>
					</select>
				</td></tr>
				</table>
			</div>
		</td>
		<td colspan="2" style="text-align:left;vertical-align: bottom;">	
			<span id="${id}_spinner" dojoType="ibm.tivoli.simplesrm.srm.dijit.ProgressSpinner" text="${_progressMessage}"></span>
		</td>
	</tr>
	<tr> <!--  middle row contains the calendar, centered between 2 5m wide cells to provide the padding for time-slider overhang -->
		<td class="timeSliderOverhang"><div></div></td>
		<td colspan="2">
			<table class="dijitCalendarContainer"> <!-- this table is the calendar control. col1=decrease control col2=the calendar col3=increase control -->
				<tr class="dijitReset dijitCalendarMonthContainer" valign="top" >
					<!-- the decrease control -->
					<th class="dijitReset dijitCalendarControlContainer" ><span class="dijitInline dijitCalendarIncrementControl dijitCalendarDecrease" dojoattachpoint="decreaseArrowNode" dojoAttachEvent="onmousedown:_onMouse,onmouseup:_onMouse,onmouseout:_onMouse"><span class="dijitA11ySideArrow dijitCalendarIncrementControl dijitCalendarDecreaseInner">-</span></span></th>
					
					<td> <!--  the calender -->
						<table class="dijitCalendarContainerInner">
						<thead>
							<tr dojoAttachPoint="monthLabelRow">
								<th class="dijitReset dijitCalendarMonthTemplate" ><div class="dijitCalendarMonth"></div></th>
							</tr>					
							<tr dojoAttachPoint="dayLabelRow">
								<th class="dijitReset dijitCalendarDayLabelTemplate"><span class="dijitCalendarDayLabel"></span></th>
							</tr>
						</thead>
						<tbody class="dijitReset dijitCalendarBodyContainer" dojoAttachEvent="onclick: _onDayClick">
							<tr class="dijitReset dijitCalendarWeekTemplate" dojoAttachPoint="dateLabelRow">
								<!-- <td class="dijitCalendarSpacer"></td>  -->
								<td class="dijitCalendarDateTemplate"><div class="dijitCalendarDateLabel"></div></td>
								<!-- <td class="dijitCalendarSpacer"></td> -->
							</tr>
						</tbody>
						</table>					
					</td>
					<!-- the increase control -->
					<th class="dijitReset dijitCalendarControlContainer" ><span class="dijitInline dijitCalendarIncrementControl dijitCalendarIncrease" dojoattachpoint="increaseArrowNode" dojoAttachEvent="onmousedown:_onMouse,onmouseup:_onMouse,onmouseout:_onMouse"><span class="dijitA11ySideArrow dijitCalendarIncrementControl dijitCalendarIncreaseInner" >+</span></span></th>
				</tr>
			</table>

		</td>
		<td class="timeSliderOverhang"><div></div></td>
	</tr>
	<tr>
		<td colspan="4" dojoAttachPoint="timeSliderCell" style="border-top:1px solid #cccccc; padding:0;margin:0;border:0px none;">
			<div class="timeSliderContainer" dojoAttachPoint="timeSliderContainer" style="width: 100%;">
				<div id="${id}_tsa" dojoType="ibm.tivoli.simplesrm.srm.dijit.TimeSlider" timeid="starttime" style="position: absolute; top: 0px; left:0px;" dojoAttachEvent="onChangeTime:_onStartTimeChange"></div>
				<div id="${id}_tsz" dojoType="ibm.tivoli.simplesrm.srm.dijit.TimeSlider" timeid="enddime"   style="position: absolute; top: 0px; right:0px;" dojoAttachEvent="onChangeTime:_onEndTimeChange"></div>
			</div>
		</td>
	</tr>	
	</table>
	<input type="hidden" id="${id}_startDate" name="${startName}" dojoAttachPoint="startVal">
	<input type="hidden" id="${id}_endDate" name="${endName}" dojoAttachPoint="endVal">
	<input type="hidden" id="${id}_duration" name="${durationName}" dojoAttachPoint="durationVal">
</div>
