<div>
<!--
 * Licensed Materials - Property of IBM
 * 5724-W78
 * (C) Copyright IBM Corp. 2009
 * All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
	<table dojoAttachPoint="messageBox" style="padding:3px !important">
		<tr>
			<td><div dojoAttachPoint="messageIcon"></div></td>
			<td><a dojoAttachPoint="messageIdBox" class="message-id" href="">${messageId}:</a></td>
			<td class="message-description" style="padding-left:5px; width:100%">${messageText}</td>
		</tr>
	</table>
</div>
