<div class="ListItem ${itemStyle}" tabindex="0">
<!--
 * Licensed Materials - Property of IBM
 * 5724-W78
 * (C) Copyright IBM Corp. 2009
 * All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<table><tr>
	<td class='icon' style='width: ${iconWrapperSize}px;'>
		<img  src="${icon}" alt="" style='width: ${iconSize}px;'></img>
	</td>
	<td class='content'>
		<p class='label'>${label}</p>
		<div class='description'>${description}</div>
	</td>
	<td class='sprite'>
		<div dojoattachpoint="iconNode" class='sprite' title="${iconTitle}" >
			<span dojoattachpoint="iconTextNode" class='alternativeText' title="${iconTitle}">${iconText}</span>
		</div>
	</td>
</tr></table>
</div>
