<div>
<!--
 * Licensed Materials - Property of IBM
 * 5724-W78
 * (C) Copyright IBM Corp. 2009
 * All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
	<!--  the UI -->
	<div id="${id}_selfservicestation" style="display: block; margin: 0; ">
		<table class='glass' style="width:100%">
			<tr><td class='glass ul'></td><td class='glass um' colspan="3"></td><td class='glass ur'></td></tr>
			<tr>
				<td class='glass lt'></td>
				<td class='glass content'>
			   		<div id='${id}_navigator' dojoType='ibm.tivoli.simplesrm.srm.dijit.Navigator' dojoAttachPoint="navigator" sytle="width:100%;"></div>
				</td>
				<td class='glass rt'></td>	
				<td class='glass content'  style="width:398px;">
					<div dojoType="ibm.tivoli.simplesrm.srm.dijit.Overview.RequestsPod" dojoAttachPoint="requestsPod"></div>
					${_pod_div_list}
			   	</td>
				<td class='glass rt'></td>
			</tr>
			<tr><td class="glass ll"></td><td class="glass lm" colspan="3"></td><td class="glass lr"></td></tr>
		</table>
	</div>
</div>
