<span
    class="spinner"
    ><span 
        tabindex="${tabindex}"
        dojoType="ibm.tivoli.tip.dijit.NumberInputBox"
        dojoAttachPoint="_textNode,_focusNode"
        value="${value}"
        required="${required}"
        min="${min}"
        max="${max}"
        regExpMessage="${textRegExpMessage}"
    ></span
    ><table class="dijitInlineTable spinnerArea"
        ><tr  
            ><td 
                ><img 
                    tabindex="${tabindex}"
                    src="${_upArrowIcon}"
                    dojoAttachPoint="_upArrowNode"
                    dojoAttachEvent="onmousedown:_onPushUpArrow,onkeypress:_onPushUpArrow,onmouseup:_onPullArrow,onmouseout:_onPullArrow,onkeyup:_onPullArrow"
                    class="upArrowButton"
            /></td
        ></tr
        ><tr  
            ><td 
                ><img 
                    tabindex="${tabindex}"
                    src="${_downArrowIcon}"
                    dojoAttachPoint="_downArrowNode"
                    dojoAttachEvent="onmousedown:_onPushDownArrow,onkeypress:_onPushDownArrow,onmouseup:_onPullArrow,onmouseout:_onPullArrow,onkeyup:_onPullArrow"
                    class="downArrowButton"
            /></td
       ></tr
    ></table
></span>
   