<span class="tip-tib-normal" dojoAttachEvent="onclick:_onClick">
<table border="0" cellspacing="0" cellpadding="0" style="">
	<tr>
		<td class="tf-l"><div class="tf-err"></div></td>
		<td class="tf-m" valign="middle"><input class="tf" type="${type}"
			value="" size="${size}" name="${name}" dojoAttachPoint="_inputNode, _focusNode"
			dojoAttachEvent="onkeyup:_onKeyUp, onkeypress:_onKeyPress, onchange:_onChange" /></td>
		<td class="tf-r">
			<img src="images/trans.gif" width="16" alt="" height="4" />
			<span dojoattachpoint="altText" class="alternativeText"></span> 
		</td>
	</tr>
</table>
<span style="clear: left;height:0;"></span>
</span>
