
.tip a, .tip a:active, .tip a:visited {
    color: #3366CC;
}

.tip,.tip input,.tip select,.tip textarea {
    font-family: Verdana, Myriad, Arial, Helvetica, clean, sans-serif;
    font-weight: normal;
    font-size: 8pt;
}

/** text input box styles */
.tip .textInputIcon {
    vertical-align: middle;
	cursor: auto;
}

.tip .textInputError .textInputRight {
    margin-right: 0px;
}

.tip .textInputRight {
    margin-right: 9px;
	cursor: text;
}

.tip .textInputNode {
    border-style: none;
    background-color: transparent;
    padding-left: 2px;
	padding-right: 1px; /* padding-rigth: 1px; error! */
}

.tip .textInputDefault {
    background-color: #ffffff;
    border-color: #777777 #dedede #dedede #777777;
    border-style: solid;
    border-width: 1px;
    padding: 1px;
    white-space: nowrap;
	cursor: text;
}

.tip .textInputError {
    background-color: #ffebeb;
    border-color: #cc6666 #ffcccc #ffcccc #cc6666;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    padding: 1px;
    white-space: nowrap;
	cursor: text;
}

.tip .textInputDisabled {
    background-color: #e5e5e5;
    border-color: #777777 #dedede #dedede #777777;
    border-style: solid;
    border-width: 1px;
    color: #999999;
    padding: 1px;
    white-space: nowrap;
	cursor: text;
}

.tip .textInputRequired {
    background-color: #ffffcc;
    border-color: #636300 #eeeebb #eeeebb #999900;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    padding: 1px;
    white-space: nowrap;
	cursor: text;
}

/** drop down list styles */
.tip .dropDownListDefault {
    background-color: #ffffff;
    border-color: #777777 #dedede #dedede #777777;
    border-style: solid;
    border-width: 1px;
    padding: 1px;
}

.tip .dropDownListDisabled {
    color: #999999;
    background-color: #e5e5e5;
    border-color: #777777 #dedede #dedede #777777;
    border-style: solid;
    border-width: 1px;
    padding: 1px;
}

/** selection list */
.tip .selectionList {
    padding: 0px;
}

.tip .selectionListIcons {
    float: right;
    height: 16px;
    width: 16px;
}

.tip .selectionListTable {
    width: 100%;
    background-color: #ffffff;
    border-color: #777777 #dedede #dedede #777777;
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
}

.tip .selectionListTableCell {
    padding: 5px;
    border-color: #777777 #dedede #dedede #777777;
    border-style: solid;
    border-width: 1px;
    vertical-align: top;
    table-layout: fixed;
}

.tip .selectionListTableCellSelected {
    background-color: #bcdbfc;
}

/** Text Area */
.tip .textAreaDefault {
    background-color: #ffffff;
    border-color: #777777 #dedede #dedede #777777;
    border-style: solid;
    border-width: 1px;
    padding: 1px;
    width: 100%;
    overflow: auto;
}

.tip .textAreaDisabled {
    background-color: #e5e5e5;
    border-color: #777777 #dedede #dedede #777777;
    border-style: solid;
    border-width: 1px;
    color: #999999;
    padding: 1px;
    width: 100%;
}

.tip .textAreaMessageDefault {
    background-color: #ffffff;
    text-align: right;
    padding: 1px;
}

.tip .textAreaMessageDisabled {
    color: #999999;
    text-align: right;
    padding: 1px;
}

/** Dynamic table */
.tip .dynamicTable {
	padding: 1px;
}

.tip .dynamicTable thead {
	background-color: #FFFFFF;
	background-image: url(images/table_header_bkg.gif);
	background-position: left top;
	background-repeat: repeat-x;
	color: #333333;
}

.tip .dynamicTable td {
	padding-top: 1px;
	padding-bottom: 1px;
}

/** CheckBox/RadioButton */
.tip .tree {
    
}

.tip .treeItem {
    
}

.tip .treeRow {
    padding: 2px;
    border-collapse: collapse;
}

.tip .treeCell {
    vertical-align: top;
    border-collapse: collapse;
}

.tip .treeCellSelected {
    background-color: #BCDBFC;
}

/** Tree */
.tip .htmlSelectionDefault {
    
}

.tip .htmlSelectionDisabled {
    
}

/** Picker */
.tip .picker {
	white-space: nowrap;
}

.tip .pickerButton {
    vertical-align: middle;
    margin-left: 2px;
}

.tip .pickerButtonDown {
    overflow: visible;
    vertical-align: middle;
    margin-top: 2px;
    margin-left: 3px;
}

/** Spinner */
.tip .spinner {
}

.tip .spinnerArea {
    vertical-align: middle;
    margin-left: 2px;
    font-size: 0;	
    width:0px;
	height:0px;
}


/** LinkToolbar */
.tip .linkToolbar {
	margin-top: 2px; 
	margin-bottom: 2px;
}

.tip .linkToolbarItem {
	white-space: nowrap;
	margin-right: 8px;
}

.tip .linkToolbarImage {
	vertical-align: middle;
	padding: 1px;
}

.tip .linkToolbarLink {
	padding: 1px;
}
