.tundra .tableToolbar {
	border					:0px;
	margin					:0px;
	padding					:0px;
	width                   :100%;
	height                  :39px;
}

.tundra .tableFooter {
	width                   :100%;
	height					:26px;
}

.tundra .tableToolbarArea{
	background-image:none;
	background-color:transparent;
	background-position		:top;
	border					:0px;
	margin					:0px;
	padding					:2px;
}

.tundra .TIPTableSearchFieldArea {
	background-image 		:url(images/table_toolbar_bkg.gif);
    background-repeat		:repeat-x;
	background-color		:#cbcbcb;
	background-position		:top;
	padding					:0px;
	vertical-align		    :middle;
	height:32px;
	margin:0px;
	border-width:0px 0px 1px 0px;
	border-style:solid;
	border-color:#aaaaaa;
}

.tundra .TIPTableToggle {
	background-color		:#cbcbcb;
	background-position		:top;
	padding					:0px;
	vertical-align		    :middle;
	margin:0px;
	border-width:0px 0px 1px 0px;
	border-style:none;
	border-color:#cbcbcb;
}


.tundra .TIPTableToolbarArea {
	background-image 		:url(images/table_toolbar_bkg.gif);
    background-repeat		:repeat-x;
	background-color		:#cbcbcb;
	background-position		:top;
	padding					:0px;
	vertical-align:middle;
	height:36px;
	margin:0px;
	border-width:0px 0px 1px 0px;
	border-style:solid;
	border-color:#aaaaaa;
}

/*  ********************* Quick Filter **********************************  */

.tundra .qf-textfield {
	font-family			:Verdana, Helvetica, sans-serif;	
	font-size			:1em;	
	font-weight			:normal;
	color				:#333333;
	border-style		:none;
	border-width		:0px;
	padding				:0px;
	margin				:0px 0px 0px 0px;
	}
	
.qf-textfield-label {
	border-style		:none;
	border-width		:0px;
	color				:#000000;
	font-family			:Verdana,Helvetica,sans-serif;
	font-size			:0.7em;
	font-weight			:normal;
	margin				:0px;
	padding				:0px;
}	
/*  ********************* Quick Filter Default ****************************  */

.quick-filter .qf-lcap {			 
	background-image 		:url(images/qf_bkg_cap_l_default.gif);
    background-repeat		:no-repeat;
	background-color		:#cbcbcb;
	background-position		:top left;
	height					:24px;
	border-style			:none;
	padding					:0px 0px 0px 0px;
	margin					:0px;
	}
	
.quick-filter .qf-lcap-over {			 
	background-image 		:url(images/qf_bkg_cap_l_default_over.gif);
    background-repeat		:no-repeat;
	background-color		:#cbcbcb;
	background-position		:top left;
	height					:24px;
	border-style			:none;
	padding					:0px 0px 0px 0px;
	margin					:0px;
	}
	
.quick-filter .qf-rcap {
	background-image 		:url(images/qf_bkg_cap_r_default.gif);
    background-repeat		:no-repeat;
	background-color		:#cbcbcb;
	background-position		:top right;
	height					:24px;
	border-style			:none;
	padding					:0px;
	margin					:0px;
	}
	
.quick-filter .qf-mid {
	background-image 		:url(images/qf_bkg_mid_default.gif);
    background-repeat		:repeat-x;
	background-color		:#cbcbcb;
	background-position		:top;
	height					:24px;
	border-style			:none;
	padding					:0px 4px 0px 4px;
	margin				:0px;
	}

/*  ********************* Quick Filter Focus **********************************  */
	
.quick-filter-focus .qf-lcap {
	background-image 		:url(images/qf_bkg_cap_l_focus.gif);
    background-repeat		:no-repeat;
	background-color		:#cbcbcb;
	background-position		:top left;
	height					:24px;
	border-style			:none;
	padding					:0px;
	margin					:0px;
	}
	
.quick-filter-focus .qf-lcap-over {
	background-image 		:url(images/qf_bkg_cap_l_focus_over.gif);
    background-repeat		:no-repeat;
	background-color		:#cbcbcb;
	background-position		:top left;
	height					:24px;
	border-style			:none;
	padding					:0px;
	margin					:0px;
	}
	
.quick-filter-focus .qf-rcap {
	background-image 		:url(images/qf_bkg_cap_r_focus.gif);
    background-repeat		:no-repeat;
	background-color		:#cbcbcb;
	background-position		:top right;
	height					:24px;
	border-style			:none;
	padding					:0px;
	margin					:0px;
	}
	
.quick-filter-focus .qf-mid{
	background-image 		:url(images/qf_bkg_mid_focus.gif);
    background-repeat		:repeat-x;
	background-color		:#cbcbcb;
	background-position		:top;
	height					:24px;
	border-style			:none;
	padding					:0px 4px 0px 4px;
	margin					:0px;
	}

.quick-filter {
	top						:0px;
	right					:0px;
	padding					:3px 4px 2px 4px;
	/*margin					:2px;*/
}	

.quick-filter-focus {
	top						:0px;
	right					:0px;
	padding					:3px 4px 2px 4px;
	/*margin					:2px;*/
}

/*************************************
  Quick Filter Column Dropdown Picker
*************************************/

/** Overloads Dojo styles  **/
.qf-col-trigger .dijitButtonNode {
	border: 0px;
	vertical-align: middle;
	padding: 2px 0px 0px 1px;
	margin: 0px;
	width: 20px;
	background: transparent;
}

/** Overloads Dojo styles  **/
.dj_ie .qf-col-trigger .dijitButtonNode {
	padding: 2px 0px 0px 6px;
}

/** Overloads Dojo styles  **/
.qf-col-trigger .dijitButtonText {
	font-familly  :Verdana, Helvetica, sans-serif;
	text-align  :middle;
	font-size  :8pt;
	padding:0px;
}

/** This controls the styling div that contains
    the checkboxs and labels inside column filtering
    editor **/
.qf-col-chkbox-label-row
{
	padding-bottom: 2px;
}

/** This controls the styling of the labels used
	on the checkboxes to toggle filtering on
	individual columns in dropdown **/
.qf-col-chkbox-label
{
	padding-left: 5px;
}

/** This controls the styling of the title text
    on the dropdown editor for toggling filtering
    on individual columns **/
.qf-col-filter-title
{
	font-weight: bold;
	padding-bottom: 2px;
}

.qf-TooltipDialog
{
	padding: 0px;
}

.qf-TooltipDialog .dijitTooltipConnector 
{
		/* the arrow piece */
		border:0px;
		z-index: 2;
		display: none;
}

/************************* Table Body Styles ***************************/

/* Table Header */
.tundra .dojoxGrid-header .dojoxGrid-cell {
/* background:#f0f0f0 url(images/tabEnabled.png) repeat-x scroll center top;  >>> ens: commened out missing image */
border-color: #ffffff #bbbbbb #bbbbbb transparent;
border-style:solid;
border-width:1px 1px 1px 1px;
/* height:22px; height is adjusted automatically in Grid */ 
/* font-size: 1.3em;  .dojoxGrid-row-table size already applied */
}

.tundra .dojoxGrid-row-table {
	table-layout: fixed;
	width: 0;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size: .7em;
}

.tundra .dojoxGrid-header .dojoxGrid-cell-over {
/* background:#e3f3ff url(images/tabHover.png) repeat-x scroll center top; >>> ens: commented out missing image */
border-color: #ffffff #b7bbc7 #b8cfe5 transparent;
border-style:solid;
border-width:1px 1px 1px 1px;
/* height:22px; height is adjusted automatically in Grid */ 
}

/* TundraGrid.css*/
.tundra .dojoxGrid-row-odd {
	background-color: #f0f0f0;

}

.tundra .dojoxGrid-row-selected {
	background-color: #B8CFE5;
}

.tundra .dojoxGrid-row-selected .dojoxGrid-cell {
	background-image:none; 
	border-style:solid;
	border-size:1px 0px 1px 0px;
	border-color: #B8CFE5 #a3becc #B8CFE5 transparent;
}

.tundra .dojoxGrid-row-over .dojoxGrid-row-selected {
	background-color: #B8CFE5;
}

.tundra .dojoxGrid-row-over .dojoxGrid-row-selected .dojoxGrid-cell {
	background-image:none; 
	border-style:solid;
	border-size:1px 0px 1px 0px;
	border-color: #B8CFE5 #a3becc #B8CFE5 transparent;
}


.tundra .dojoxGrid-row-over {
	background-color:#d8e9ff; 
}

.tundra .dojoxGrid-row-over .dojoxGrid-cell {
	background-image:none; 
	border-style:solid;
	border-size:1px 0px 1px 0px;
	border-color: #B8CFE5 #B8CFE5 #B8CFE5 transparent;
	background-color:#d8e9ff; 
}

/* Toolbar Button */

.tundra .dijitToolbar * {
	padding: 0px;
	margin: 0px;
	font-family:Verdana, Helvetica, sans-serif;
	font-size:8pt;
	/* #margin-top: -1px; */
	/*IE*/
}

.tundra .dijitButtonText {
	padding				:0px;
	font-family			:Verdana, Helvetica, sans-serif;
	text-align			:middle;
	font-size			:8pt;
}

.tundra .dijitA11yDownArrow,
.tundra .dijitDownArrowButton,
.tundra .dijitUpArrowButton {
	font-size: 0.75em;
	color: #848484;
}

.dijitToolbar .dijitButton, .dijitToolbar .dijitDropDownButton { 
	margin-right: 4px; 
	padding:1px 0px 0px 0px;
	font-family:Verdana, Helvetica, sans-serif;
	font-size:8pt;
}
	

.tundra .dijitToolbar .dijitButtonHover .dijitButtonNode,
.tundra .dijitToolbar .dijitToggleButtonHover .dijitButtonNode,
.tundra .dijitToolbar .dijitDropDownButtonHover .dijitButtonNode {
	/* TODO: change this from Hover to Selected so that button is still highlighted while drop down is being used */
	font-family:Verdana, Helvetica, sans-serif;
	font-size:8pt;
	color:#003399;
	border-style:solid;
	border-width:1px;
	border-color: #f7f7f7 #b3b3b3 #b3b3b3 #f7f7f7;
	/* Crappy FF rounded corner idea */
	/* 	-moz-border-radius: 5px; */
	/* IE hackery */
	_border: 1px solid #366dba;
	_margin: -1px 0px 0px 0px;
	_padding: 0px;
	
	/*background-image:url(images/button-bkg.png);  >>> ens: commented out missing image*/
	background-position:top left;
	background-repeat:repeat-x;
	/*TODO: figure out what to do with the border on a mouseOver */
}



/*************** Context Menu ******************/


.tundra .dijitMenu {
	border: 1px solid #A6A9C9;
	background: #FFFFFF !important;
	padding: 1px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: verdana, arial, _sans;
}

.tundra .dijitMenu tbody{
	border: 1px solid #A6A9C9;
	background: #FFFFFF !important;
	padding: 1px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: verdana, arial, _sans;
}



.tundra .dijitMenuItem {
	white-space: nowrap;
	font: menu;
	margin: 0;
	padding: 0px 0px 0px 0px;
}
		
.tundra .dijitMenuItemHover {
	color:#003399;
	background-color: #BED5F5;
	cursor:pointer;
	cursor:hand;
}

.tundra .dijitMenuItem td {
padding:0px 2px 0px 2px;
}

.tundra .dijitMenuItem td .dijitMenuItemIcon {
	position: relative;
	background-image:url(images/ctm_bkg01.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #D4D7E4;
	width: 28px;
	height: 22px;
	padding:0px;
	left:-2px
}

.tundra .dijitMenuExpand {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url(images/submenu_off.gif);
	width: 5px;
	height: 9px;
	padding-left: 3px;
}
.tundra .dijitMenuExpandEnabled {
	background-image: url(images/submenu_on.gif);
}

.tundra .dijitMenuSeparator {
	font-size: 1px;
	margin: 0;
}

.tundra .dijitMenuSeparatorTop {
	height: 50%;
	border-bottom: 1px solid #7a98c4;
	margin: 0px 2px;
	font-size: 1px;
}

.tundra .dijitMenuSeparatorBottom {
	height: 50%;
	border-top: 1px solid #c9deff;
	margin: 0px 2px;
	font-size: 1px;
}


/**** Message Dialogs *******/

.tundra .dijitDialog .dijitDialogPaneContent {
 background:#FFFFFF none repeat scroll 0%;
 border-color:#CCCCCC -moz-use-text-color -moz-use-text-color;
 border-style:solid none none;
 border-width:1px medium medium;
 padding:0px;
}

.tundra .message-id {
 font-family: Verdana, Helvetica, Arial, sans-serif;
 font-size: .8em;
 font-weight: bold;
 color: #0000CC;
}

.tundra .message-id A:link, #message .message-id A:active, #message .message-id A:visited {
 color: #0000CC;
 text-decoration: none;
}

.tundra .message-id A:hover {
 color: #3366FF;
 text-decoration: underline;
}

.tundra .message-description {
 font-family: Verdana, Helvetica, Arial, sans-serif;
 font-size: .8em;
 font-weight: normal;
}

.tundra .message-type {
 font-family: Verdana, Helvetica, Arial, sans-serif;
 font-size: .7em;
 font-weight: bold;
}

.tundra .info {
  width: 100%;
  background-color: #d1f0ff;
  background-image: url(images/bkg_message_info.gif);
  background-repeat: repeat-x;
  background-position: top;
  border-style: solid;
  border-color: #ceeffe #ceeffe #a5c5d4 #ceeffe; 
  border-width: 1px;
  padding-bottom: 25px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.tundra .confirm {
  width: 100%;
  background-color: #f0f0f0;
  background-image: url(images/bkg_message_unknown.gif);
  background-repeat: repeat-x;
  background-position: top;
  border-style: solid;
  border-color: #eeeeee #eeeeee #c4c4c4 #eeeeee; 
  border-width: 1px;
  padding-bottom: 25px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
} 


.tundra .validation {
  width: 100%;
  background-color: #c2f0b3;
  background-image: url(images/bkg_message_validation.gif);
  background-repeat: repeat-x;
  background-position: top;
  border-style: solid;
  border-color: #bdefac #bdefac #96c587 #bdefac; 
  border-width: 1px;
  padding-bottom: 25px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.tundra .critical {
  width: 100%;
  background-color: #ffb3b3;
  background-image: url(images/bkg_message_critical.gif);
  background-repeat: repeat-x;
  background-position: top;
  border-style: solid;
  border-color: #ffacac #ffacac #d48787 #ffacac; 
  border-width: 1px;
  padding-bottom: 25px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.tundra .warning {
  width: 100%;
  background-color: #ffffc2;
  background-image: url(images/bkg_message_warning.gif);
  background-repeat: repeat-x;
  background-position: top;
  border-style: solid;
  border-color: #ffffae #ffffae #d4d487 #ffffae; 
  border-width: 1px;
  padding-bottom: 25px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.tundra .checkbox {
 font-family: Verdana, Helvetica, Arial, sans-serif;
 font-size: .7em;
 font-weight: normal;
}

.tundra .messageAreaCloseIcon
{
	width:16;
	height:16;
	cursor:pointer;
}

.tundra .refreshIcon {
	background-image: url(images/refresh.png);
	width: 34px;
	height: 34px;
	display: block;
	background-repeat: no-repeat;
	vertical-align: middle;
	horizontal-align: middle;
}

.tundra .backIcon {
	background-image: url(images/back.png);
	width: 24px;
	height: 24px;
	display: block;
	background-repeat: no-repeat;
	vertical-align: middle;
	horizontal-align: middle;
}


.tundra .saveIcon {
	background-image: url(images/save.png);
	width: 24px;
	height: 24px;
	display: block;
	background-repeat: no-repeat;
	vertical-align: middle;
	horizontal-align: middle;
}

.tundra .saveToFileIcon {
	background-image: url(images/save.png);
	width: 24px;
	height: 24px;
	display: block;
	background-repeat: no-repeat;
	vertical-align: middle;
	horizontal-align: middle;
}

.tundra .propertiesIcon {
	background-image: url(images/properties.png);
	width: 24px;
	height: 24px;
	display: block;
	background-repeat: no-repeat;
	vertical-align: middle;
	horizontal-align: middle;
}

.tundra .printIcon {
	background-image: url(images/printer.png);
	width: 24px;
	height: 24px;
	display: block;
	background-repeat: no-repeat;
	vertical-align: middle;
	horizontal-align: middle;
}

.tundra .printPreviewIcon {
	background-image: url(images/printer.png);
	width: 24px;
	height: 24px;
	display: block;
	background-repeat: no-repeat;
	vertical-align: middle;
	horizontal-align: middle;
}


.tundra .newIcon {
	background-image: url(images/new.png);
	width: 24px;
	height: 24px;
	display: block;
	background-repeat: no-repeat;
	vertical-align: middle;
	horizontal-align: middle;
}

.tundra .editIcon {
	background-image: url(images/edit.png);
	width: 24px;
	height: 24px;
	display: block;
	background-repeat: no-repeat;
	vertical-align: middle;
	horizontal-align: middle;
}

.tundra .deleteIcon {
	background-image: url(images/delete.png);
	width: 24px;
	height: 24px;
	display: block;
	background-repeat: no-repeat;
	vertical-align: middle;
	horizontal-align: middle;
}

.tundra .uploadIcon {
	background-image: url(images/upload.png);
	width: 24px;
	height: 24px;
	display: block;
	background-repeat: no-repeat;
	vertical-align: middle;
	horizontal-align: middle;
}

.tundra .selectAllIcon {
	background-image: url(images/select-all.png);
	width: 24px;
	height: 24px;
	display: block;
	background-repeat: no-repeat;
	vertical-align: middle;
	horizontal-align: middle;
}

.tundra .deselectAllIcon {
	background-image: url(images/deselect-all.png);
	width: 24px;
	height: 24px;
	display: block;
	background-repeat: no-repeat;
	vertical-align: middle;
	horizontal-align: middle;
}
.tundra .dividerIcon {
	background-image: url(images/i_divider.gif);
	width: 24px;
	height: 24px;
	display: block;
	background-repeat: no-repeat;
	vertical-align: middle;
	horizontal-align: middle;
}

.tundra .dijitInputField {
 font-family: Verdana, Helvetica, Arial, sans-serif;
 font-size: .7em;
 font-weight: normal;
 /*
 padding: 2px 4px 2px 4px;
 */
}

.tundra .dijitTextBox,
.tundra .dijitSpinner,
.tundra .dijitInlineEditor input,
.tundra .dijitTextArea {
	padding: 2px 4px 2px 4px;
}

.tundra .dijitComboBox
{
	padding: 0px 0px 0px 2px;
}


.tundra .breadcrumbDivider {
	font-family: verdana, arial, _sans;
	padding: 0px 0px 0px 0px;
	margin:0px;
	font-size:0.8em;
	font-weight:normal;
	color: #999999
}

.tundra .breadcrumb{
	font-family: verdana, arial, _sans;
	padding: 0px 0px 0px 0px;	
	margin:0px;
	color: #003399;
	font-size:0.8em;
	font-weight:normal;
	cursor:pointer;
}


/* Button effects */

/******************************************************************* 
/* BUTTON CONCEPT 02  
/********************************************************************
* Brian Brandenburg
*******************************************************************/
.tundra .toolbar-divider {
padding:0px 3px 0px 1px;
}

.tundra .td-button{
padding:1px;
}

.tundra .button-out {
	padding:1px 0px 0px 0px;
	cursor:pointer;
	width:34px;
	
}

.tundra .button-over {
	padding:1px 0px 0px 0px;
	cursor:pointer;
}

.tundra .button-down {
	padding:1px 0px 0px 0px;
	cursor:pointer;
}

.tundra .button-up {
	padding:1px 0px 0px 0px;
	cursor:pointer;
}

/******************** Start mouseOut ***********/
.tundra .button-out .td-button-m a {
	color:#333333;
	margin: 0px 4px 0px 2px;
	text-align:center;
	text-decoration:none;
}



.tundra .button-out .td-button-m {
	height:34px;
}


/******************** Start mouseOver ********************/

.tundra .button-over .td-button-m a {
	color:#333333;
	margin: 0px 2px 0px 2px;
	text-align:center;
	text-decoration:none;
}


.tundra .button-over .td-button-m {
	background-image 		:url(images/buttons/tbutton3_over.png);
    background-repeat		:no-repeat;
	background-position		:top center;
	background-color		:transparent;
	height:34px;
	width:34px;
	valign:middle;
}

/******************** End mouseOver ********************/
/******************** Start mouseUp ********************/
.tundra .button-up .td-button-m a {
	color:#333333;
	margin: 0px 4px 0px 2px;
	text-align:center;
	text-decoration:none;
}



.tundra .button-up .button-m {

}



/******************** Start mouseDown ********************/
.tundra .button-down .td-button-m a {
	color:#333333;
	margin: 0px 2px 0px 2px;
	text-align:center;
	text-decoration:none;
}


.tundra .button-down .td-button-m {
	background-image 		:url(images/buttons/tbutton3_down.png);
    background-repeat		:no-repeat;
	background-position		:top center;
	background-color		:transparent;
	width:34px;
	height:34px;
	valign:middle;
}

/******************** End mouseDown ********************/

/*********** REFRESH **********/
.tundra .button-out .td-refresh-m {
	/*background-image 		:url(images/buttons/refresh34.png); >>> ens: commented out missing image */
    background-repeat		:no-repeat;
	background-position		:top left;
	background-color		:transparent;
	height:34px;
	width:34px;
}

.tundra .button-over .td-refresh-m {
	/*background-image 		:url(images/buttons/refresh34_over.png);  >>> ens: comented out missing image */
    background-repeat		:no-repeat;
	background-position		:top left;
	background-color		:transparent;
	height:34px;
	width:34px;
}

.tundra .button-up-proc .td-refresh-m {
	/*background-image 		:url(images/buttons/refresh34.png);  >>> ens: comented out missing image */
    background-repeat		:no-repeat;
	background-position		:top left;
	background-color		:transparent;
	height:34px;
	width:34px;
}

.tundra .button-down .td-refresh-m {
	/*background-image 		:url(images/buttons/refresh34.png);  >>> ens: comented out missing image */
    background-repeat		:no-repeat;
	background-position		:top left;
	background-color		:transparent;
	height:34px;
	width:34px;
}

/*************** Description Area ******************/
.tipDescriptionArea
{
	background: transparent url('images/bkg_description.png') repeat-x top left;
	border-bottom: 1px solid #6699ff;
}

.tipDescriptionAreaTitle
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	padding-left: 5px;
	color:#003399;
}

.tipDescriptionAreaContent
{
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size  : .8em;
  font-weight: normal;
  padding-left: 5px;
}

.tipDescriptionAreaClose
{
  height:8px;
}

.open .tipDescriptionAreaClose
{
  background: transparent url('images/description_open_tab.png') no-repeat bottom center;
}

.close .tipDescriptionAreaClose
{
  background: transparent url('images/description_close_tab.png') no-repeat bottom center;
}

/*************** TIP Table Refresh Button ******************/

.tipTableRefreshButton
{
  width: 34px;
  height: 34px;
  background: transparent url('images/buttons/refresh_01.png') no-repeat top left !important;
}

.tipTableRefreshButton .dijitButtonNode
{
  width: 34px;
  height: 34px;
  background: transparent! important;
  border: 0px;
}

.tipTableRefreshButtonHover
{
  background: transparent url('images/buttons/refresh_02.png') no-repeat top left !important;
}

.tipTableRefreshButtonActive
{
  background: transparent url('images/buttons/refresh_03.png') no-repeat top left !important;
}

/*************** TIP Busy Pane ******************/
.tipBusyPane
{
  position:absolute; 
  top:0; 
  left:0; 
  width:100%; 
  height:100%;
  z-index: 2000;
}

.tipBusyPaneProcessing 
{
	background-image:url(images/process_bkg_220x48.png);
	background-repeat:no-repeat;
	height:48px;
	padding:5px 6px 7px 4px;
	width:230px;
}

.tipBusyPaneProcessing .process-message 
{
  color:#000000;
  font-size:10px;
}

.tipBusyPaneProcessing .process-anim 
{ 
  padding:10px;
}

/*************** TIP Table Title Bar ******************/
.tipTableTitleBar
{
	background-image: url('images/table_title_bkg.gif');
	border-style:solid; 
	border-color: #AAAAAA #BBBBBB #AAAAAA #AAAAAA; 
	border-width: 1px 1px 0px 1px;
	height:20px;
	margin:0px;
	color:#333333;
}

.tipTableTitleBarLabel
{
	padding-right:4px; 
	padding-top:2px; 
	padding-left:4px; 
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size: .7em;
	font-weight: bold;
}

/************************* Form Element Styles ***************************/
	
/*  ********************* Text Field ****************************  */
.tip-tib-normal .tf {
	font-family			:Verdana, Helvetica, sans-serif;	
	font-size			:1em;
	font-weight			:normal;
	color				:#333333;
	border-style		:none;
	border-width		:0px;
	padding				:0px;
	margin				:0px 0px 0px 0px;
}

.tip-tib-normal .tf-l {
	background-image 		:url(images/tfn_l.gif);
    background-repeat		:no-repeat;
	background-color		:#FFFFFF;
	background-position		:top left;
	height					:21px;
	border-style			:none;
	padding					:0px;
	margin					:0px;
	}
	
.tip-tib-normal .tf-r {
	background-image 		:url(images/tfn_r.gif);
    background-repeat		:no-repeat;
	background-color		:#FFFFFF;
	background-position		:top right;
	height					:21px;
	border-style			:none;
	padding					:0px;
	margin					:0px;
	}
	
.tip-tib-normal .tf-m {
	background-image 		:url(images/tfn_m.gif);
    background-repeat		:repeat-x;
	background-color		:#FFFFFF;
	background-position		:top;
	height					:21px;
	border-style			:none;
	padding					:0px 2px 0px 2px;
	margin					:0px;
	}

.tip-tib-normal .tf-err {
   width: 1px;
   height: 1px;
}

/*  ********************* Text Field (Required)****************************  */
.tip-tib-required .tf {
	font-family			:Verdana, Helvetica, sans-serif;	
	font-size			:1em;
	font-weight			:normal;
	color				:#333333;
	background-color	:#ffffe6;
	border-style		:none;
	border-width		:0px;
	padding				:0px;
	margin				:0px 0px 0px 0px;
	}

.tip-tib-required .tf-l {
	background-image 		:url(images/tfr_l.gif);
    background-repeat		:no-repeat;
	background-color		:#FFFFFF;
	background-position		:top left;
	height					:21px;
	border-style			:none;
	padding					:0px;
	margin					:0px;
	}
	
.tip-tib-required .tf-r {
	background-image 		:url(images/tfr_r.gif);
    background-repeat		:no-repeat;
	background-color		:#FFFFFF;
	background-position		:top right;
	height					:21px;
	border-style			:none;
	padding					:0px;
	margin					:0px;
	}
	
.tip-tib-required .tf-m {
	background-image 		:url(images/tfr_m.gif);
    background-repeat		:repeat-x;
	background-color		:#FFFFFF;
	background-position		:top;
	height					:21px;
	border-style			:none;
	padding					:0px 2px 0px 2px;
	margin					:0px;
	}
	
.tip-tib-required .tf-err {
   width: 1px;
   height: 1px;
}
/*  ********************* Text Field (Error) ****************************  */
.tip-tib-error .tf {
	font-family			:Verdana, Helvetica, sans-serif;	
	font-size			:1em;
	font-weight			:normal;
	color				:#333333;
	background-color	:#fef7f7;
	border-style		:none;
	border-width		:0px;
	padding				:0px;
	margin				:0px 0px 0px 0px;
	}

.tip-tib-error .tf-l {
	background-image 		:url(images/tfe_l.gif);
    background-repeat		:no-repeat;
	background-color		:#FFFFFF;
	background-position		:top left;
	height					:21px;
	border-style			:none;
	padding					:0px;
	margin					:0px;
	}
	
.tip-tib-error .tf-r {
	background-image 		:url(images/tfe_r.gif);
    background-repeat		:no-repeat;
	background-color		:#FFFFFF;
	background-position		:top right;
	height					:21px;
	border-style			:none;
	padding					:0px;
	margin					:0px;
	}
	
.tip-tib-error .tf-m {
	background-image 		:url(images/tfe_m.gif);
    background-repeat		:repeat-x;
	background-color		:#FFFFFF;
	background-position		:top;
	height					:21px;
	border-style			:none;
	padding					:0px 2px 0px 2px;
	margin					:0px;
	}
	
.tip-tib-error .tf-err {
   width: 16px;
   height: 15px;
   background: url( images/i_message_critical_10.png ) top center no-repeat;
}

/*  ********************* Text Field (Disabled) ****************************  */
.tip-tib-disabled .tf {
	font-family			:Verdana, Helvetica, sans-serif;	
	font-size			:1em;
	font-weight			:normal;
	color				:#999999;
	background-color	:#e5e5e5;
	border-style		:none;
	border-width		:0px;
	padding				:0px;
	margin				:0px 0px 0px 0px;
	}

.tip-tib-disabled .tf-l {
	background-image 		:url(images/tfd_l.gif);
    background-repeat		:no-repeat;
	background-color		:#FFFFFF;
	background-position		:top left;
	height					:21px;
	border-style			:none;
	padding					:0px;
	margin					:0px;
	}
	
.tip-tib-disabled .tf-r {
	background-image 		:url(images/tfd_r.gif);
    background-repeat		:no-repeat;
	background-color		:#FFFFFF;
	background-position		:top right;
	height					:21px;
	border-style			:none;
	padding					:0px;
	margin					:0px;
	}
	
.tip-tib-disabled .tf-m {
	background-image 		:url(images/tfd_m.gif);
    background-repeat		:repeat-x;
	background-color		:#FFFFFF;
	background-position		:top;
	height					:21px;
	border-style			:none;
	padding					:0px 2px 0px 2px;
	margin					:0px;
	}
	
.tip-tib-disabled .tf-err {
   width: 1px;
   height: 1px;
}	


