<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING/DTD BEAN/EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="siam.sp.webseal.eai.handler" class="group.tivoli.security.eai.web.sso.webseal.WebSEALEAIPostAuthenHandler">
		<property name="eaiXAttrsName" value="${webseal.auth.header.eaiXAttrsName}"></property>
		<property name="tagValuePrefix" value="tagvalue_"></property>
		<property name="eaiUseridName" value="${webseal.auth.header.eaiUseridName}"></property>
		<property name="eaiAuthenLevenName" value="${webseal.auth.header.eaiAuthenLevenName}"></property>
		<property name="eaiRedirUrlName" value="${webseal.auth.header.eaiRedirUrlName}"></property>
		<property name="eaiRedirUrl" value="${webseal.auth.header.eaiRedirUrl}"></property>
	</bean>
</beans>
