<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING/DTD BEAN/EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
  <!-- 主题样式 池 -->
	<bean id="themesPool" class="group.tivoli.security.eai.web.themes.ThemesPool"
		init-method="initialize">
		<property name="themes" value="${idp.themes}"></property>
	</bean>
</beans>