<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <!-- 标准控制台输出 -->
  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out" />
    <!-- 关闭向catalina.out中输出日志, 避免该日志文件无限增长, 调试时可以将此选项调整为DEBUG -->
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{ISO8601} %r %-5p [%F:%L] : %m%n" />
    </layout>
  </appender>

  <!-- 服务器主日志文件 -->
  <appender name="server.rolling.file" class="org.apache.log4j.RollingFileAppender">
    <param name="Threshold" value="DEBUG" />
    <!-- The active file to log to -->
    <param name="file" value="${saml.server.home}/logs/saml_server.log" />
    <param name="append" value="true" />
    <param name="encoding" value="UTF-8" />

    <!-- 每个日志文件的大小 -->
    <param name="MaxFileSize" value="10MB" />
    <!-- 保留日志文件的数量 -->
    <param name="MaxBackupIndex" value="10" />

    <layout class="org.apache.log4j.PatternLayout">
      <!-- The log message pattern -->
      <param name="ConversionPattern" value="%d{ISO8601} %r %-5p [%F:%L] : %m%n" />
    </layout>
  </appender>
  <!-- 分布式会话管理日志文件 -->
  <appender name="session_cluster.rolling.file" class="org.apache.log4j.RollingFileAppender">
    <param name="Threshold" value="DEBUG" />
    <!-- The active file to log to -->
    <param name="file" value="${saml.server.home}/logs/session_cluster.log" />
    <param name="append" value="true" />
    <param name="encoding" value="UTF-8" />

    <!-- 每个日志文件的大小 -->
    <param name="MaxFileSize" value="10MB" />
    <!-- 保留日志文件的数量 -->
    <param name="MaxBackupIndex" value="10" />

    <layout class="org.apache.log4j.PatternLayout">
      <!-- The log message pattern -->
      <param name="ConversionPattern" value="%d{ISO8601} %r %-5p [%F:%L] : %m%n" />
    </layout>
  </appender>

  <!-- 日志 -->
  <logger name="com.ibm.tivoli" additivity="true">
    <level value="debug" />
    <appender-ref ref="console" />
    <appender-ref ref="server.rolling.file" />
  </logger>

  <!-- 公共组件日志 -->
  <logger name="net.sf.ehcache" additivity="true">
    <level value="debug" />
    <appender-ref ref="session_cluster.rolling.file" />
  </logger>
  <logger name="net.sf.ehcache.config" additivity="true">
    <level value="debug" />
    <appender-ref ref="session_cluster.rolling.file" />
  </logger>
  <logger name="net.sf.ehcache.distribution" additivity="true">
    <level value="debug" />
    <appender-ref ref="session_cluster.rolling.file" />
  </logger>
  
  <logger name="org.springframework" additivity="true">
    <level value="info" />
    <appender-ref ref="console" />
    <appender-ref ref="server.rolling.file" />
  </logger>
  <logger name="org.springframework.ldap" additivity="true">
    <level value="debug" />
    <appender-ref ref="server.rolling.file" />
  </logger>
  <logger name="org.apache" additivity="true">
    <level value="info" />
    <appender-ref ref="server.rolling.file" />
  </logger>
  <logger name="catalia" additivity="true">
    <level value="info" />
  </logger>

  <root>
    <priority value="info" />
  </root>

</log4j:configuration>
