/******************************************************************
 * IBM Confidential
 * OCO Source Material
 * 5724-W78
 * (C) Copyright IBM Corp. 2009
 * The source code for this program is not published or otherwise
 * divested of its trade secrets, irrespective of what has been
 * deposited with the U. S. Copyright Office.
*******************************************************************/

body {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	background: #FFF url(../images/ge_login_bkgnd.jpg) top center no-repeat;
}
.main_tbl {
	width: 20em;
	margin: 8% auto;
	border: none;
}
.dialog {
	background: #FFF url(../images/ge_login_dialog_bkgnd.png) top left repeat-x;
	border: 1px #033985 solid;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 25px;
}
h1 {
	color: #033985;
	margin: 8px auto;
}
input[type=text], input[type=password] {
  background: #FFF url(../images/ge_login_txtbox.png) bottom left repeat-x;
	border: 1px solid #033985;
	border-radius: 2px;
	-moz-border-radius: 2px;
	width: 20em;
}
.input_pad {
	padding-left: 20px;
	padding-bottom: 10px;
}
.btn {
	padding-left: 20px;
	padding-right: 20px;
	background: #033985 url(../images/ge_blue_btn.png) center left repeat-x;
	height: 22px;
	border: 1px solid #033985;
	border-radius: 2px;
	-moz-border-radius: 2px;
	color: #FFF;
}
#errmsg {
	color: rgb(198, 32, 32);
	margin: 0 0 16px 0;
	padding:0;
}
