<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://cxf.apache.org/jaxws 
		http://cxf.apache.org/schemas/jaxws.xsd
	  http://cxf.apache.org/jaxrs 
	  http://cxf.apache.org/schemas/jaxrs.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
  <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
  <import resource="classpath:META-INF/cxf/cxf-extension-jaxrs-binding.xml" />
  <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<bean id="propertyPlaceholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<!-- Set how to check system properties: as fallback, as override, or never. 
			The default is "fallback": If not being able to resolve a placeholder with 
			the specified properties, a system property will be tried. "override" will 
			check for a system property first, before trying the specified properties. 
			"never" will not check system properties at all. -->
		<!-- 系统属性总是优先, 即: JVM "-Dkey=value"方式设置的属性信息总是优先于在配置文件的设置. -->
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true"></property>

		<property name="locations">
			<list>
				<value>classpath:pim-config.xml</value>
				<value>classpath:test/pim-config.xml</value>
				<value>file:${user.home.dir}/pim-config.xml</value>
			</list>
		</property>
	</bean>

  <!-- RESTful -->
  <jaxrs:server id="RESTfulServer" address="/rest">
    <jaxrs:serviceBeans>
      <ref bean="loginServiceBean" />
      <ref bean="requestManagerBean" />
    </jaxrs:serviceBeans>
    <jaxrs:extensionMappings>
      <entry key="json" value="application/json" />
      <entry key="xml" value="application/xml" />
    </jaxrs:extensionMappings>
  </jaxrs:server>

  <bean id="loginServiceBean" class="com.ibm.tivoli.pim.service.LoginServiceImpl">
    <property name="environment">
          <props>
            <prop key="enrole.platform.contextFactory">${tim.server.platform.context.factory}</prop>
            <prop key="enrole.appServer.url">${tim.server.platform.url}</prop>
            <prop key="enrole.appServer.ejbuser.principal">${tim.server.platform.uid}</prop>
            <prop key="enrole.appServer.ejbuser.credentials">${tim.server.platform.password}</prop>
          </props>
    </property>
  </bean>
  <jaxws:endpoint id="loginService" implementor="#loginServiceBean"
    address="soap/loginService" serviceName="LoginService" />

	<bean id="requestManager4WAS" class="com.ibm.tivoli.pim.service.RequestManagerImpl">
		<property name="pimAccountProfileName" value="${pim.account.profile.name}" />
		<property name="environment">
					<props>
						<prop key="enrole.platform.contextFactory">${tim.server.platform.context.factory}</prop>
						<prop key="enrole.appServer.url">${tim.server.platform.url}</prop>
						<prop key="enrole.appServer.ejbuser.principal">${tim.server.platform.uid}</prop>
						<prop key="enrole.appServer.ejbuser.credentials">${tim.server.platform.password}</prop>
					</props>
		</property>
	</bean>

	<alias alias="requestManagerBean" name="requestManager4WAS" />
	<jaxws:endpoint id="requestManagerService" implementor="#requestManagerBean"
		address="soap/requestManager" serviceName="RequestManager" />

	<bean id="backendServiceBean" class="com.ibm.tivoli.pim.service.SimpleBackEndServiceImpl"></bean>
	<jaxws:endpoint id="backendService" implementor="#backendServiceBean"
		address="soap/backendService" serviceName="BackendService"></jaxws:endpoint>
</beans>

