<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING/DTD BEAN/EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
  <!-- Load configuration -->
  <bean id="idp.main.propertyPlaceholderConfigurer" class="com.sinopec.siam.utils.MyPropertyPlaceholderConfigurer">
    <property name="order" value="100"></property>
    <property name="ignoreUnresolvablePlaceholders" value="true"></property>
    <!-- Set how to check system properties: as fallback, as override, or never. The default is "fallback": If not being able to resolve a placeholder with the specified 
      properties, a system property will be tried. "override" will check for a system property first, before trying the specified properties. "never" will not check system 
      properties at all. -->
    <!-- 系统属性总是优先, 即: JVM "-Dkey=value"方式设置的属性信息总是优先于在配置文件的设置. -->
    <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
    <property name="ignoreResourceNotFound" value="false"></property>

    <property name="locations">
      <list>
        <!-- Load from Classpath -->
        <value>classpath:eai/conf/eai-config-main.xml</value>
        <value>classpath:eai/conf/eai-config-loginmodule-jaas.xml</value>
        <value>classpath:eai/conf/eai-config-loginmodule-tamldap.xml</value>
        <!-- Load from Server Home -->
        <!-- <value>file:${eai.server.home}/eai/conf/eai-config.xml</value> -->

        <!-- Load from User Home -->
        <!-- <value>file:${user.home}/eai/conf/eai-config.xml</value> -->
      </list>
    </property>
  </bean>
  <bean name="configProperties" class="com.sinopec.siam.utils.PropertiesWrapper">
    <constructor-arg>
      <ref bean="idp.main.propertyPlaceholderConfigurer" />
    </constructor-arg>
  </bean>


  <!-- Spring MVC 国际化支持 -->
  <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
    <property name="basename" value="classpath:webui/messages" />
  </bean>

  <bean id="loginHandlerManager" class="com.sinopec.siam.am.idp.authn.LoginHandlerManager">
    <constructor-arg>
      <map>
        <entry key="urn:oasis:names:tc:SAML:2.0:ac:classes:TAMUsernamePassword">
          <bean class="com.sinopec.siam.am.idp.authn.module.tamldap.TAMLoginHandler">
            <property name="authenticationLevel" value="1"></property>
            <property name="authenticationServletPath" value="/Authn/TAMUserPassAuth"></property>
            <property name="supportsForceAuthentication" value="true"></property>
            <property name="supportsPassive" value="false"></property>
            <property name="supportedAuthenticationMethods">
              <list>
                <value>urn:oasis:names:tc:SAML:2.0:ac:classes:TAMUsernamePassword</value>
                <value>urn:oasis:names:tc:SAML:2.0:ac:classes:SMSUserAuth</value>
                <value>urn:oasis:names:tc:SAML:2.0:ac:classes:SMSUserPassAuth</value>
              </list>
            </property>
          </bean>
        </entry>
        <entry key="urn:oasis:names:tc:SAML:2.0:ac:classes:SMSUserAuth">
          <bean class="com.sinopec.siam.am.idp.authn.module.tamldap.TAMLoginHandler">
            <property name="authenticationLevel" value="2"></property>
            <property name="authenticationServletPath" value="/Authn/SMSUserAuth"></property>
            <property name="supportsForceAuthentication" value="true"></property>
            <property name="supportsPassive" value="false"></property>
            <property name="supportedAuthenticationMethods">
              <list>
                <value>urn:oasis:names:tc:SAML:2.0:ac:classes:SMSUserAuth</value>
                <value>urn:oasis:names:tc:SAML:2.0:ac:classes:SMSUserPassAuth</value>
              </list>
            </property>
          </bean>
        </entry>
        <entry key="urn:oasis:names:tc:SAML:2.0:ac:classes:SMSUserPassAuth">
          <bean class="com.sinopec.siam.am.idp.authn.module.tamldap.TAMLoginHandler">
            <property name="authenticationLevel" value="4"></property>
            <property name="authenticationServletPath" value="/Authn/SMSUserPassAuth"></property>
            <property name="supportsForceAuthentication" value="true"></property>
            <property name="supportsPassive" value="false"></property>
            <property name="supportedAuthenticationMethods">
              <list>
                <value>urn:oasis:names:tc:SAML:2.0:ac:classes:SMSUserPassAuth</value>
              </list>
            </property>
          </bean>
        </entry>
      </map>
    </constructor-arg>
  </bean>

  <bean id="authenLevelDirector" class="com.ibm.siam.am.idp.authn.AuthenLevelDirectorImpl">
    <property name="authenLevelMethodEntitys">
      <list>
        <bean class="com.ibm.siam.am.idp.authn.entity.AuthenLevelMethodEntity">
          <property name="authenLevel" value="1"></property>
          <property name="authenMethods">
            <list>
              	<value>urn:oasis:names:tc:SAML:2.0:ac:classes:TAMUsernamePassword</value>
            </list>
          </property>
        </bean>        
        <bean class="com.ibm.siam.am.idp.authn.entity.AuthenLevelMethodEntity">
          <property name="authenLevel" value="2"></property>
          <property name="authenMethods">
            <list>
                <value>urn:oasis:names:tc:SAML:2.0:ac:classes:SMSUserAuth</value>
            </list>
          </property>
        </bean>
        <bean class="com.ibm.siam.am.idp.authn.entity.AuthenLevelMethodEntity">
          <property name="authenLevel" value="4"></property>
          <property name="authenMethods">
            <list>
                <value>urn:oasis:names:tc:SAML:2.0:ac:classes:SMSUserPassAuth</value>
            </list>
          </property>
        </bean>
      </list>
    </property>
  </bean>

</beans>