<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- TAM LDAP User Service -->
	<bean id="tamLdapUserService"
		class="com.sinopec.siam.am.idp.authn.service.LdapUserServiceImpl">
		<property name="template" ref="tamLdapTemplate"></property>
		<property name="userBaseDN" value="${idp.tam.ldap.user.baseDn}"></property>
	</bean>

	<!-- TAM LDAP User Security Authority Service -->
	<bean id="tamLdapUserSecAuthrityService"
		class="com.sinopec.siam.am.idp.authn.service.LdapUserServiceImpl">
		<property name="template" ref="tamLdapTemplate"></property>
		<property name="userBaseDN"
			value="${idp.loginmodule.tamldap.secauthority.ldap.userBaseDN}"></property>
	</bean>

	<!-- TAM Local User Lock Service -->
	<bean id="tamLocalUserLockService"
		class="group.tivoli.security.eai.loginmodule.tam.service.TimUserLockService" init-method="init">
		<property name="maxFailedNumber"
			value="${idp.loginmodule.tamldap.userlock.maxFailedNumber}"></property>
		<property name="unLockTimeInterval"
			value="${idp.loginmodule.tamldap.userlock.unLockTimeInterval}"></property>
		<property name="userNameAttr"
			value="${idp.loginmodule.tamldap.secauthority.ldap.userNameAttr}"></property>
		<property name="unlockTimeAttr"
			value="${idp.loginmodule.tamldap.userlock.ldap.unlockTimeAttr}"></property>
		<property name="unlockTimeFormat"
			value="${idp.loginmodule.tamldap.userlock.ldap.unlockTimeFormat}"></property>
		<property name="failedNumberAttr"
			value="${idp.loginmodule.tamldap.userlock.ldap.failedNumberAttr}"></property>
		<property name="lockStateAttr"
			value="${idp.loginmodule.tamldap.userlock.ldap.lockStateAttr}"></property>
		<property name="ldapTemplate" ref="tamLdapTemplate"/>
		<property name="ldapUserBaseDN"
			value="${idp.tam.ldap.user.baseDn}"></property>
		<property name="isCache" value="false"></property>
		<property name="hasHintUnlockTime" value="false"></property>
		<property name="timUserLdapUtil" ref="timUserLdapUtil"/>
	</bean>
	
	<bean id="timUserLdapUtil" class="group.tivoli.security.eai.loginmodule.tam.service.TimUserLdapUtil">
		<property name="ldapTemplate" ref="timLdapTemplate" />
		<property name="timLdapBaseDn" value="${idp.loginmodule.timldap.secauthority.userBaseDN}" />
		<property name="confEntityDn" value="${tim.configure.entity.dn}" />
	</bean>

	<!-- TAM User Pass Service -->
	<bean id="tamUserPassService"
		class="com.sinopec.siam.am.idp.authn.service.TamUserPassServiceImpl">
		<property name="ldapTemplate" ref="tamLdapTemplate"></property>
		<property name="ldapUserBaseDN"
			value="${idp.loginmodule.tamldap.secauthority.ldap.userBaseDN}"></property>
		<property name="userNameLdapAttribute"
			value="${idp.loginmodule.tamldap.secauthority.ldap.userNameAttr}"></property>
		<property name="userPassLastChangedLdapAttribute"
			value="${idp.loginmodule.tamldap.secauthority.ldap.userPassLastChangedAttribute}"></property>
		<property name="userPassResetStateLdapAttribute"
			value="${idp.loginmodule.tamldap.secauthority.ldap.userPassResetStateLdapAttribute}"></property>
		<property name="notifyByMail"
			value="${idp.loginmodule.tamldap.secauthority.ldap.notifyByMail}"></property>
		<property name="userOwnerLdapAttribute"
			value="${idp.loginmodule.tamldap.secauthority.ldap.userOwnerLdapAttribute}"></property>
		<property name="timSoapEndpoint" value="${idp.tim.api.soapEndpoint}"></property>
		<property name="itimManager" value="${itim.manager.principal}"></property>
		<property name="itimManagerPwd" value="${itim.manager.credentials}"></property>
	</bean>

		<!-- TIM User Pass Service -->
	<bean id="timUserPassService" class="com.sinopec.siam.am.idp.authn.service.TimLdapUserPassServiceImpl">
		<property name="ldapTemplate" ref="timLdapTemplate"></property>
		<property name="ldapUserBaseDN" value="${idp.loginmodule.timldap.secauthority.userBaseDN}"></property>
		<property name="userNameLdapAttribute" value="${idp.loginmodule.timldap.secauthority.userNameAttribute}"></property>
		<property name="userPassLastChangedLdapAttribute" value="${idp.loginmodule.timldap.secauthority.userPassLastChangedAttribute}"></property>
		<property name="userPassResetStateLdapAttribute" value="${idp.loginmodule.timldap.secauthority.userPassResetStateLdapAttribute}"></property>
		<property name="timSoapEndpoint" value="${idp.tim.api.soapEndpoint}"></property>
		<property name="itimManager" value="${itim.manager.principal}"></property>
		<property name="itimManagerPwd" value="${itim.manager.credentials}"></property>
		<property name="notifyByMail" value="${idp.loginmodule.timldap.secauthority.notifyByMail}"></property>
		<property name="userOwnerLdapAttribute" value="${idp.loginmodule.timldap.secauthority.userOwnerLdapAttribute}"></property>
	</bean>

	<!-- TamLockUserLock schedule bean, used by Spring Job Controlled substance -->
<!-- 	<bean id="tamLocalUserLock4TimeSynTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="tamLocalUserLockService" />
		<property name="targetMethod" value="unLockAll" />
		<property name="concurrent" value="false" />
	</bean> -->
	
<!-- 	<bean id="tamLocalUserLockTriggers"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				当前配置的是: 每小时运行一次 value中的内容： 第6位：的1代表星期天，在国外星期天才是每个周的开始！ 第5位： *代表所有月的星期天 
					第4位：？代表也没有具体到某日的星期天 第3位：23代表23点，注意：采用24小时 第2位：59代表分钟 第1位：50代表秒
				<bean class="org.springframework.scheduling.quartz.CronTriggerBean">
					<property name="jobDetail" ref="tamLocalUserLock4TimeSynTask" />
					<property name="cronExpression" value="10 * * ? * *" />
				</bean>
			</list>
		</property>
	</bean> -->
</beans>