<div class="templateddialog">
<!--
 * Licensed Materials - Property of IBM
 * 5724-W78
 * (C) Copyright IBM Corp. 2009
 * All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
	<div dojoType="dijit.Dialog"
		 dojoAttachPoint="_dialog"
		 title="${_uiStringTable.ViewSRTitle}"
		 class="tundra simplesrm templateddialog mydialog">
		<div dojoType="dijit.layout.BorderContainer"
			style="width:${_width};height:430px;background-color:#DCE2E7;padding:0;margin:0;"> 
			<div dojoType="dijit.layout.ContentPane" region="center" style="padding:0;margin:0;">
				<div dojoType="dijit.layout.ContentPane"
					 style="padding:0;margin:0;font-size:10pt;">
					<div dojoType="dijit.layout.TabContainer"
						 dojoAttachPoint="_tabC"
						 style="width:630px;height:630px;padding:0;margin:0;">
						<div id="${id}_general" dojoType="dijit.layout.ContentPane"
						 	 closeable="false" title="${_uiStringTable.ViewSRGeneral}"
						 	 dojoAttachPoint="_gen"
						 	 style="background-color:#DCE2E7;padding:0;margin:0">
							<div class="banner">
								<div style="float:left;width:50px;height:50px;margin:10px;">
									<img src="/SimpleSRM/js/simplesrm/srm/dijit/images/icons/default_request.png"
										 width="50" height="50" alt=""/>
								</div>
								<div style="float:left;width:370px;height:50px;margin:10px;"
									dojoAttachPoint="_viewSrGenBannerText">
									${_uiStringTable.ViewSRGenBannerApproval}
								</div>
								<div class="clear"></div>
							</div>
							<div dojoAttachPoint=_gen_table></div>
							<p>
							<div dojoAttachPoint=_attr_table></div>
						</div>
	
						<div id="${id}_work" dojoType="dijit.layout.ContentPane"
							 closeable="false" title="${_uiStringTable.ViewSRWorkLog}" 
							 style="background-color:#DCE2E7;padding:0;margin:0">
							<div class="banner"
								dojoAttachPoint="_workl_banner"
								style="height:70px;background-color:#C0CEDC;border-color:#B0B5B8;">
								<div style="float:left;width:50px;height:50px;margin:10px;">
									<img src="/SimpleSRM/js/simplesrm/srm/dijit/images/icons/default_request.png"
										 width="50" height="50" alt=""/>
								</div>
								<div style="float:left;width:370px;height:50px;margin:10px;">
									${_uiStringTable.ViewSRWorkBanner}
								</div>
							</div>
							<div dojoAttachPoint=_workl_table></div>
						</div>
			
						<div id="${id}_comm" dojoType="dijit.layout.ContentPane"
							closeable="false" title="${_uiStringTable.ViewSRCommLog}"
							style="background-color:#DCE2E7;padding:0;margin:0">
							<div class="banner"
								dojoAttachPoint="_comml_banner"
								style="height:70px;background-color:#C0CEDC;border-color:#B0B5B8;">
								<div style="float:left;width:50px;height:50px;margin:10px;">
									<img src="/SimpleSRM/js/simplesrm/srm/dijit/images/icons/default_request.png"
										 width="50" height="50" alt=""/>
								</div>
								<div style="float:left;width:370px;height:50px;margin:10px;">
									${_uiStringTable.ViewSRCommBanner}
								</div>
							</div>
							<div dojoType=ibm.tivoli.simplesrm.srm.dijit.CommLogGrid
								 dojoAttachPoint=_comml_table name="" 
								 class="commloggrid">
							</div>
							<div dojoAttachPoint=_comml_details>
								<table width=90% style=""><tr>
								<td><div dojoAttachPoint=_comml_details_gen></div></td>
								<td><div dojoAttachPoint=_comml_details_det></div></td>							
								</tr></table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div dojoType="dijit.layout.ContentPane" dojoAttachPoint="_apprC" class="approval"
				 region="right" style="display:${_approvalDisplay}">
				<form id="${id}_approvalForm" name="approvalForm" dojoType="dijit.form.Form">
					<div style="width:100%;height:100%;padding:0;margin:0">
						<div class="banner">
							<div class="paneltop" style="width:240px;height:20px;padding:5px;margin:0;">
								<label style="font-weight:bold;font-size:10pt;">${_uiStringTable.AppRequestBannerTitle}</label>
							</div>
							<div style="width:240px;height:45px;padding:5px;margin:0;font-size:10pt;">
								${_uiStringTable.AppRequestBannerDescription}
							</div>
						</div>
						<div style="width:100%;height:40px;">
							<div>
								<div style="float:left;width:15px;height:20px;padding:5px;margin:0;">
									<input dojoType="dijit.form.RadioButton" id="${id}_reject" name="process" 
		           							checked="checked" value="reject" type="radio">
								</div>
								<div style="float:left;width:195px;height:20px;padding:5px;margin:0;">
					           		<label for="${id}_reject"><font size= "2"> ${_uiStringTable.RejectRequest} </font></label> 
								</div>
							</div>
							<div>
								<div style="float:left;width:15px;height:20px;padding:5px;margin:0;">
									<input dojoType="dijit.form.RadioButton" id="${id}_approve" name="process" 
					          							value="approve" type="radio">
								</div>
								<div style="float:left;width:195px;height:20px;padding:5px;margin:0;">
					           		<label for="${id}_approve"><font size= "2"> ${_uiStringTable.ApproveRequest} </font></label>  
								</div>	
							</div>	<div class="clear"></div>			
						</div>
						<br>
						<div style="padding:5px;margin:0;">
							<label><font size="2">${_uiStringTable.ApproveDetails}</font></label>
							<input id="${id}_detail" name="detail" dojoType="ibm.tivoli.tip.dijit.TextInputBox"
								   style="width:90%" constraints="{maxlen: 50}" size="25">
						</div>
					</div>
				</form>
			</div>

			<div dojoType="dijit.layout.ContentPane" region="bottom" class="footer"
				style="background: #B2B2B2 url(/SimpleSRM/js/simplesrm/srm/dijit/images/ge64_toolbar_top.png) repeat-x scroll left top;margin:0;border-width:2px 0 0 0;border-color:#B0B5B8;">
				<button dojoType="dijit.form.Button" dojoAttachPoint="_closeBtn"
					 	type="submit">
			 		${_uiStringTable.Close}
			 	</button>
			 	<button dojoType="dijit.form.Button" dojoAttachPoint="_apprOKBtn"
			 		    dojoAttachEvent="onClick:_onOKClick" >
			 		${_uiStringTable.OK}
			 	</button>
				<button dojoType="dijit.form.Button" dojoAttachPoint="_apprCancelBtn"
						type="submit">
					${_uiStringTable.Cancel}
				</button>
			</div>
		</div>
		
	</div>
</div>
