<div class='srmnavigator'>
<!--
 * Licensed Materials - Property of IBM
 * 5724-W78
 * (C) Copyright IBM Corp. 2009
 * All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
	<div class="navigator_head" style="position:relative; padding: .625em;">
		<div style="position:absolute; left:.625em; top: 50%; height: 34px; width: 34px; margin-top: -17px;">
		<div dojoattachpoint="home_btn" dojotype="dijit.form.Button" baseClass="srm_button" showLabel="false" label="${_uiStringTable.Home}" iconClass="navigator_home" title="${_uiStringTable.Home}"> </div>
		</div>
		<div style="text-align: right; position:absolute; right: .625em; top: 50%; height: 3em; margin-top: -1.5em;">
			<div style="display:none;"> <label id="${id}_search_label" for="${id}_list_search_term">${_uiStringTable.Search}</label></div>
			<input id='${id}_list_search_term' dojoattachpoint="list_search_term" type='text' name='ticket_search' style='width: 200px;margin-right:3px;' class="vm">
			<input id='${id}_list_search_btn'  dojoattachpoint="list_search_btn" type="Button" dojoType="ibm.tivoli.tip.dijit.TIPButton" label="${_uiStringTable.Search}" title="${_uiStringTable.Search}" value="${_uiStringTable.Search}" >
		</div>
	</div>

	<div id='${id}_box' class='navigator_body' >
		<div dojoAttachPoint="breadcrumbContainer">
				<div id='${id}_crumbs' dojoType='ibm.tivoli.simplesrm.srm.dijit.Breadcrumb' ></div>
		</div>
		<div class='tree_box' id='${id}_tree_box'>
		 	<div dojoAttachPoint="treeContainer">
				<div id="${id}_list" dojoType="ibm.tivoli.simplesrm.srm.dijit.ListTree" dojoAttachPoint="rootListNode" 
					fillOrder="${fillOrder}" label="${_uiStringTable.HomeBreadcrumb}" 
					keyField="${keyField}" labelField="${labelField}" descField="${descField}" iconField="${iconField}" iconSizeField="${iconSizeField}" 
					childField="${childField}" leafField="${leafField}" colCount="1"
				></div>
			</div>
		</div>
		<div class='clear'></div>
	</div>
	<div class='clear'></div>
</div>

