/* CSS Document */
body{
	padding:0px;
	font-size:12px;
	background-color:#ffffff;
}
a {
	text-decoration:none;
	color:#005bab;
}
a:hover{
	text-decoration:none;
	color:#ff8a00;
}
form{
	margin:0 0;
}
/********************** 登录区域************************/
#center{
	width:950px;
	margin:40px auto 30px;
}
#center .login_top{
	margin-left:192px;
	width:566px;
	background:url(../images/login_top_bg.jpg) no-repeat;
	height:21px;
}
#center .login_center{
	margin:0px 0px 0px 192px;
	background:url(../images/login_center_bg.jpg) repeat-y;
	width:566px;
	padding-top:15px;
	padding-bottom:15px;
	color:#266aaa;
}
#center table{
	margin-left:auto;
	margin-right:auto;
}
#center .login_bottom{
	margin-left:192px;
	background:url(../images/login_bottom_bg.jpg) no-repeat;
	height:21px;
	width:566px;
}
.input_bg{
	border:0px;   
	background:url(../images/mobile_no.gif) no-repeat center;
	padding-left:8px;
	padding-top:10px;
	width:243px;
	height:25px;
	color:#005bab;
}
.password_bg{
	border:0px;   
	background:url(../images/mobile_pass.gif) no-repeat center;
	padding-left:8px;
	padding-top:10px;
	width:154px;
	height:25px;
}
.rnum_bg{
	border:0px;   
	background:url(../images/rum_bg.gif) no-repeat center;
	padding-left:8px;
	padding-top:5px;
	width:96px;
	height:25px;
	color:#005bab;
}

td img{
	margin-left:20px;
    vertical-align: middle;
 	border:0px;
}
td a{
	margin-left:10px;
}
/****************服务密码提示框***************************/
.login_info {
	font-size:12px;
	VISIBILITY: hidden;
	filter:alpha(opacity=100);
	background: #E8E8E8;
	border:1px solid #666666;
	width:404px;
	z-index:250;
	position:absolute;
	left:-314px;
	top:-80px;
	margin-left:656px;
	margin-top:22px;
	padding:0 2px;
	text-align: center;
	line-height:20px;
}
.login_info p{
	text-align:left;
}
.login_infodiv {
	float:left;
	font-size:12px;
	position:relative;
}
.zhmm{
	margin-top:-20px;
}
.login_btn{
	background:url(../images/login_button.gif);
	margin:0 10px;
	width:164px;
	height:24px;
	color:#fff;
	border:0px;
	cursor:pointer;
	font-weight:bold;
	font-size:14px;
	padding-top:0px;
	*padding-top:1px;
	line-height:24px;
	background-repeat:no-repeat;
}
.login_btn1{
	background:url(../images/login_buttonblue.gif);
	margin:0 10px;
	width:164px;
	height:24px;
	color:#fff;
	border:0px;
	cursor:pointer;
	font-weight:bold;
	font-size:14px;
	padding-top:0px;
	*padding-top:1px;
	line-height:24px;
	background-repeat:no-repeat;
}
/**********************输入验证码区域********************/
.btn_short {
	background:url(../images/btn.jpg);
	width:52px;
	height:20px;
	color:#fff;
	border:0px;
	cursor:pointer;
	font-weight:bold;
	font-size:12px;
	padding-top:0px;
	*padding-top:1px;
	line-height:20px;
	background-repeat:no-repeat;
}
/********************************footer*********************************/
#footer {
	width:950px;
	height:38px;
	margin:0px auto;
	background:url(../images/footer_bg.jpg) repeat-x;
	color:#FFFFFF;
}
#footer ul{padding:10px 0px 0px 0px; list-style:none;width:940px;}
#footer li{line-height:20px; float:left;}
#footer .fleft {width:400px;}
#footer .fmiddle{text-align:right; width:260px;}
#footer .fright{color:#ffffff;width:280px; float:right;}
#footer a:link,#footer a:visited{ color:#ffffff; }
#footer a:hover{ color:#266aaa;}

#DivCitylist1 {
	CLEAR: both; BORDER-RIGHT: #c7d8e3 1px solid;  BORDER-TOP: #c7d8e3 1px solid; DISPLAY: none; FLOAT: left;  OVERFLOW: hidden; BORDER-LEFT: #c7d8e3 1px solid; WIDTH: 66px; PADDING-TOP: 5px; BORDER-BOTTOM: #c7d8e3 1px solid; POSITION: absolute;  BACKGROUND-COLOR: #fff;margin-left:198px;*margin-left:-68px; *margin-top:15px;
 z-index:10;}
#DivCitylist1 UL {
	OVERFLOW: hidden; WIDTH: 100%;margin:0;padding:0;
}
#DivCitylist1 UL LI {
	PADDING-LEFT: 7px; BACKGROUND: url(../images/index_arrow.gif) no-repeat left 50%; FLOAT: left; WIDTH: 80px; LINE-HEIGHT: 22px; HEIGHT: 22px; margin-left:5px;
}
#DivCitylist1 A:link {
	COLOR: #266aaa
}
#DivCitylist1 A:visited {
	COLOR: #266aaa
}
#DivCitylist1 A:hover {
	COLOR: #ff8a00
}
.menu {
width:660px;
    position: relative;
	margin:0px auto;
	margin-top:15px;
}
.navlist {
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    margin: 0px;
}
.menu li {
	margin:0px 2px 0px 0px ;
	padding: 0px 5px 0px 5px;
    float: left;
	display:inherit;
}
.menu a {
    display: block;
    text-align: center;
    font-size: 120%;
}
.menu a:link, .menu a:visited {
	color: #266AAA;
	font-weight: bold;
	text-decoration: none;
}
.menu a.current, .menu a:hover, .menu a:active {
    color: #FF8A00;
    font-weight: bold;
}
.subnav {
    position: absolute;
    top: 26px;
    left: 0;
    float: left;
    height: 32px;
    line-height: 32px;
    white-space: nowrap;
    background: url(../images/lrtk02.png) no-repeat;
}
* html .subnav {
    margin: 0 10px 0 -10px;/* IE 6 and below */
}
.subnav p {
    padding: 0 16px;
    background: url(../images/lrtk03.png) no-repeat 100% ;
}
.subnav p span {
    display: block;
    background: url(../images/lrtk01.png) repeat-x;
}
.subnav p.pointer {
	position: absolute;
	width:14px;
	left: 0;
	height: 6px;
	padding: 0;
	margin-left:20px;
	background:url(../images/lrtk04.png);
}

.subnav a {
    display: inline;
    padding: 0;
    font-size: 100%;
}
[class~="subnav"] a {
    padding: 0 3px;
}
.subnav, .subnav a:link, .subnav a:visited {
    font-weight: normal;
    color: #235e99;
}
.subnav a:hover, .subnav a:active {
	color: #FF8400;
    font-weight: normal;
}
.red{ color:#FF0000;}
.graee{
	color:#266AAA;
	font-weight: normal;
	text-decoration: none;
}
ul, p{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    font-family: inherit;
}