TABLE.example {
	BORDER-BOTTOM: #8cb1d1 1px solid; BORDER-LEFT: #8cb1d1 1px solid; BORDER-COLLAPSE: collapse; BORDER-TOP: #8cb1d1 1px solid; BORDER-RIGHT: #8cb1d1 1px solid
}
TABLE.example TH {
	BORDER-BOTTOM: #8cb1d1 1px solid; BORDER-LEFT: #FFFFFF 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BORDER-TOP: #FFFFFF 1px solid; BORDER-RIGHT: #8cb1d1 1px solid; PADDING-TOP: 2px
}
TABLE.example TD {
	BORDER-BOTTOM: #8cb1d1 1px solid; BORDER-LEFT: #8cb1d1 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BORDER-TOP: #8cb1d1 1px solid; BORDER-RIGHT: #8cb1d1 1px solid; PADDING-TOP: 2px
}
TABLE.example THEAD TH {
	BACKGROUND-COLOR: #d1d9e8
}
TABLE.example TFOOT TD {
	BACKGROUND-COLOR: #8cb1d1
}
TABLE.example TR.tbody_header {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #8cb1d1; FONT-WEIGHT: bold
}
TABLE.example A.pagelink {
	BORDER-BOTTOM: #666666 1px solid; BORDER-LEFT: #666666 1px solid; MARGIN: 0px 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #666666 1px solid; BORDER-RIGHT: #666666 1px solid
}
TABLE.example A.currentpage {
	BACKGROUND-COLOR: yellow
}
TR.alternate {
	BACKGROUND-COLOR: 
}
TH.table-sortable {
	BACKGROUND-IMAGE: url(icons/01_unsorted.gif); PADDING-LEFT: 12px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center; CURSOR: pointer;border-top: 1px solid #FFFFFF; border-left: 1px solid #FFFFFF;
}
TH.table-sorted-asc {
	BACKGROUND-IMAGE: url(icons/01_ascending.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center; border-top: 1px solid #FFFFFF; border-left: 1px solid #FFFFFF;
}
TH.table-sorted-desc {
	BACKGROUND-IMAGE: url(icons/01_descending.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center;border-top: 1px solid #FFFFFF; border-left: 1px solid #FFFFFF;
}
TH.table-filtered {
	BACKGROUND-IMAGE: url(filter.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center
}
SELECT.table-autofilter {
	FONT-SIZE: smaller
}
TABLE.altstripe TR.alternate2 {
	BACKGROUND-COLOR: #ccffff
}
TABLE.sort01 TH.table-sortable {
	BACKGROUND-IMAGE: url(icons/01_unsorted.gif)
}
TABLE.sort01 TH.table-sorted-asc {
	BACKGROUND-IMAGE: url(icons/01_ascending.gif)
}
TABLE.sort01 TH.table-sorted-desc {
	BACKGROUND-IMAGE: url(icons/01_descending.gif)
}
TABLE.sort02 TH.table-sortable {
	BACKGROUND-IMAGE: none; PADDING-LEFT: 16px
}
TABLE.sort02 TH.table-sorted-asc {
	BACKGROUND-IMAGE: url(icons/02_ascending.gif)
}
TABLE.sort02 TH.table-sorted-desc {
	BACKGROUND-IMAGE: url(icons/02_descending.gif)
}
TABLE.sort03 TH.table-sortable {
	BACKGROUND-IMAGE: none
}
TABLE.sort03 TH.table-sorted-asc {
	BACKGROUND-IMAGE: url(icons/03_ascending.gif)
}
TABLE.sort03 TH.table-sorted-desc {
	BACKGROUND-IMAGE: url(icons/03_descending.gif)
}
TABLE.sort04 TH.table-sortable {
	BACKGROUND-IMAGE: none
}
TABLE.sort04 TH.table-sorted-asc {
	BACKGROUND-IMAGE: url(icons/04_ascending.gif)
}
TABLE.sort04 TH.table-sorted-desc {
	BACKGROUND-IMAGE: url(icons/04_descending.gif)
}
TABLE.sort05 TH.table-sortable {
	BACKGROUND-IMAGE: url(icons/05_unsorted.gif); PADDING-LEFT: 16px
}
TABLE.sort05 TH.table-sorted-asc {
	BACKGROUND-IMAGE: url(icons/05_ascending.gif)
}
TABLE.sort05 TH.table-sorted-desc {
	BACKGROUND-IMAGE: url(icons/05_descending.gif)
}
TABLE.sort06 TH.table-sortable {
	BACKGROUND-IMAGE: none; PADDING-LEFT: 16px
}
TABLE.sort06 TH.table-sorted-asc {
	BACKGROUND-IMAGE: url(icons/06_ascending.gif)
}
TABLE.sort06 TH.table-sorted-desc {
	BACKGROUND-IMAGE: url(icons/06_descending.gif)
}
TABLE.sort07 TH.table-sortable {
	BACKGROUND-IMAGE: none
}
TABLE.sort07 TH.table-sorted-asc {
	BACKGROUND-IMAGE: url(icons/07_ascending.gif)
}
TABLE.sort07 TH.table-sorted-desc {
	BACKGROUND-IMAGE: url(icons/07_descending.gif)
}
TABLE.sort08 TH.table-sortable {
	BACKGROUND-IMAGE: none
}
TABLE.sort08 TH.table-sorted-asc {
	BACKGROUND-IMAGE: url(icons/08_ascending.gif)
}
TABLE.sort08 TH.table-sorted-desc {
	BACKGROUND-IMAGE: url(icons/08_descending.gif)
}
TABLE.sort09 TH.table-sortable {
	BACKGROUND-IMAGE: none; PADDING-LEFT: 30px
}
TABLE.sort09 TH.table-sorted-asc {
	BACKGROUND-IMAGE: url(icons/09_ascending.gif)
}
TABLE.sort09 TH.table-sorted-desc {
	BACKGROUND-IMAGE: url(icons/09_descending.gif)
}
TABLE.sort10 TH.table-sortable {
	BACKGROUND-IMAGE: url(icons/10_unsorted.gif)
}
TABLE.sort10 TH.table-sorted-asc {
	BACKGROUND-IMAGE: url(icons/10_ascending.gif)
}
TABLE.sort10 TH.table-sorted-desc {
	BACKGROUND-IMAGE: url(icons/10_descending.gif)
}
TABLE.sort11 TH.table-sortable {
	BACKGROUND-IMAGE: url(icons/11_unsorted.gif); PADDING-LEFT: 24px
}
TABLE.sort11 TH.table-sorted-asc {
	BACKGROUND-IMAGE: url(icons/11_ascending.gif)
}
TABLE.sort11 TH.table-sorted-desc {
	BACKGROUND-IMAGE: url(icons/11_descending.gif)
}
TABLE.sort12 TH.table-sortable {
	BACKGROUND-IMAGE: none
}
TABLE.sort12 TH.table-sorted-asc {
	BACKGROUND-IMAGE: url(icons/12_ascending.gif)
}
TABLE.sort12 TH.table-sorted-desc {
	BACKGROUND-IMAGE: url(icons/12_descending.gif)
}
TABLE.sort13 TH.table-sortable {
	BACKGROUND-IMAGE: none
}
TABLE.sort13 TH.table-sorted-asc {
	BACKGROUND-IMAGE: url(icons/13_ascending.gif)
}
TABLE.sort13 TH.table-sorted-desc {
	BACKGROUND-IMAGE: url(icons/13_descending.gif)
}
TABLE.sort14 TH.table-sortable {
	BACKGROUND-IMAGE: none
}
TABLE.sort14 TH.table-sorted-asc {
	BACKGROUND-IMAGE: url(icons/14_ascending.gif)
}
TABLE.sort14 TH.table-sorted-desc {
	BACKGROUND-IMAGE: url(icons/14_descending.gif)
}
TABLE.sort15 TH.table-sortable {
	BACKGROUND-IMAGE: none
}
TABLE.sort15 TH.table-sorted-asc {
	BACKGROUND-IMAGE: url(icons/15_ascending.gif)
}
TABLE.sort15 TH.table-sorted-desc {
	BACKGROUND-IMAGE: url(icons/15_descending.gif)
}
TABLE.sort16 TH.table-sortable {
	BACKGROUND-IMAGE: none
}
TABLE.sort16 TH.table-sorted-asc {
	BACKGROUND-IMAGE: url(icons/16_ascending.gif)
}
TABLE.sort16 TH.table-sorted-desc {
	BACKGROUND-IMAGE: url(icons/16_descending.gif)
}
TABLE.sort17 TH.table-sortable {
	BACKGROUND-IMAGE: none
}
TABLE.sort17 TH.table-sorted-asc {
	BACKGROUND-IMAGE: url(icons/17_ascending.gif)
}
TABLE.sort17 TH.table-sorted-desc {
	BACKGROUND-IMAGE: url(icons/17_descending.gif)
}
TABLE.sort18 TH.table-sortable {
	BACKGROUND-IMAGE: url(icons/18_unsorted.gif)
}
TABLE.sort18 TH.table-sorted-asc {
	BACKGROUND-IMAGE: url(icons/18_ascending.gif)
}
TABLE.sort18 TH.table-sorted-desc {
	BACKGROUND-IMAGE: url(icons/18_descending.gif)
}
TABLE.sort19 TH.table-sortable {
	BACKGROUND-IMAGE: url(icons/19_unsorted.gif); PADDING-LEFT: 24px
}
TABLE.sort19 TH.table-sorted-asc {
	BACKGROUND-IMAGE: url(icons/19_ascending.gif)
}
TABLE.sort19 TH.table-sorted-desc {
	BACKGROUND-IMAGE: url(icons/19_descending.gif)
}
.iconset {
	BORDER-BOTTOM: #666666 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #cccccc 1px solid; MARGIN: 5px; WIDTH: 100px; BORDER-TOP: #cccccc 1px solid; CURSOR: pointer; BORDER-RIGHT: #666666 1px solid
}
.iconset IMG {
	MARGIN: 3px
}
TR.doc_section {
	TEXT-ALIGN: center; BACKGROUND-COLOR: #dddddd; FONT-WEIGHT: bold
}
