<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

  <!-- =================================================================================== -->
  <!-- =====                                                                         ===== -->
  <!-- ===== DataSource: myDataSource Local Database                                 ===== -->
  <!-- =====                                                                         ===== -->
  <!-- =================================================================================== -->
  <!-- For WebSphere -->
  <bean id="nccDSWebSphere" class="org.springframework.jndi.JndiObjectFactoryBean">
    <property name="jndiName" value="jdbc/nccDS" />
    <property name="lookupOnStartup" value="false" />
    <property name="cache" value="true" />
    <property name="proxyInterface" value="javax.sql.DataSource" />
  </bean>
  <!-- For Tomcat -->
	<bean id="nccDSTomcat" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:/comp/env/jdbc/nccDS" />
		<property name="lookupOnStartup" value="false" />
		<property name="cache" value="true" />
		<property name="proxyInterface" value="javax.sql.DataSource" />
	</bean>
	<!-- Define final used data source -->
	<alias alias="myDataSource" name="nccDSTomcat"/>

  <!-- 	<bean id="transactionManager"
		class="org.springframework.transaction.jta.JtaTransactionManager">
		<property name="autodetectTransactionManager" value="false" />
	</bean>
	 -->

</beans>