<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<!-- =================================================================================== -->
	<!-- ===== ===== -->
	<!-- ===== DataSource: myDataSource Local Database ===== -->
	<!-- ===== ===== -->
	<!-- =================================================================================== -->
	<!-- For WebSphere -->
	<bean id="nccDSWebSphere" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="jdbc/nccDS" />
		<property name="lookupOnStartup" value="false" />
		<property name="cache" value="true" />
		<property name="proxyInterface" value="javax.sql.DataSource" />
	</bean>
	<!-- For Tomcat -->
	<bean id="nccDSTomcat" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="java:/comp/env/jdbc/nccDS" />
		<property name="lookupOnStartup" value="false" />
		<property name="cache" value="true" />
		<property name="proxyInterface" value="javax.sql.DataSource" />
	</bean>
	<!-- Define final used data source -->
	<alias alias="myDataSource" name="nccDSTomcat" />

	<context:annotation-config />
	<context:component-scan base-package="com.ibm.ncs.model.dao" />
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- jdbc事务管理器 -->
	<bean id="transactionManager"	class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="myDataSource" />
	</bean>
	
	<!--事务模板 -->
	<bean id="transactionTemplate"
		class="org.springframework.transaction.support.TransactionTemplate">
		<property name="transactionManager">
			<ref local="transactionManager" />
		</property>
		<!--ISOLATION_DEFAULT 表示由使用的数据库决定 -->
		<property name="isolationLevelName" value="ISOLATION_DEFAULT" />
		<property name="propagationBehaviorName" value="PROPAGATION_REQUIRED" />
		<!-- <property name="timeout" value="30"/> -->
	</bean>
  <!-- 
	<bean id="transactionManager"
		class="org.springframework.transaction.jta.JtaTransactionManager">
		<property name="autodetectTransactionManager" value="false" />
	</bean>
	 -->
</beans>