<div class="createcatalogrequest">
<!--
 * Licensed Materials - Property of IBM
 * 5724-W78
 * (C) Copyright IBM Corp. 2009
 * All Rights Reserved
 * US Government Users Restricted Rights - Use, duplication or
 * disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
	<!-- Generic fall-back form, dynamically generated if we don't have a hand-crafted one  -->
	<div class="banner">
 		<div class="icon"><img src='${requestDetails.ImagePath}'  alt=""></div> 
		<div class="description">${description}</div>
		<div class="clear"></div>
	</div>
	<div class="content_wrapper">
		<form id="${id}_input_form">
			<!--  put common, hidden fields not generated elsewhere here  -->
			<div dojoAttachPoint="form_container">
			</div>
		</form>
	</div>
 </div>

