<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
  xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

  <!-- LDAP and AD User Password Login Module -->
  <bean id="idp.jaas.loginModule.LdapAndADUserPassAuth" class="com.ibm.tivoli.jaas.config.LoginContextItem">
    <property name="name" value="ldapAndAdLogin"></property>
    <property name="loginModules">
      <list>
        <bean class="com.ibm.tivoli.jaas.config.LoginModuleItem">
          <property name="loginModuleClass"
            value="com.sinopec.siam.am.idp.authn.module.tamldap.LoginStateCheckerLoginModule"></property>
          <property name="moduleFlag" value="SUFFICIENT"></property>
        </bean>
        <bean class="com.ibm.tivoli.jaas.config.LoginModuleItem">
          <property name="loginModuleClass"
            value="com.sinopec.siam.am.idp.authn.module.CommonLdapLoginModule"></property>
          <property name="moduleFlag" value="SUFFICIENT"></property>
          <property name="moduleOptions">
            <list>
              <!-- Enable store username to shareState, share authenticated username with other LoginModule -->
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="storePass"></property>
                <property name="value" value="true"></property>
              </bean>
              <!-- Define how to search user by username, {0} mean username -->
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="userFilter"></property>
                <property name="value"
                  value="(&amp;(uid={0})(objectclass=inetOrgPerson))"></property>
              </bean>
              <!-- Define login user return attribute name -->
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="returnAttributeNames"></property>
                <property name="value" value="${idp.loginmodule.login.returnAttributeNames}"></property>
              </bean>
              <!-- Define spring ldap template bean name  -->
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="ldapTemplateBeanName"></property>
                <property name="value" value="tamLdapTemplate"></property>
              </bean>
              <!-- Define baseDN -->
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="baseDn"></property>
                <property name="value" value="${idp.tam.ldap.user.baseDn}"></property>
              </bean>
              <!-- whether use bind mode  -->
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="bindMode"></property>
                <property name="value" value="false"></property>
              </bean>
            </list>
          </property>
        </bean>
        <bean class="com.ibm.tivoli.jaas.config.LoginModuleItem">
          <property name="loginModuleClass"
            value="com.sinopec.siam.am.idp.authn.module.CommonLdapLoginModule"></property>
          <property name="moduleFlag" value="SUFFICIENT"></property>
          <property name="moduleOptions">
            <list>
              <!-- Enable store username to shareState, share authenticated username with other LoginModule -->
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="storePass"></property>
                <property name="value" value="true"></property>
              </bean>
              <!-- Define how to search user by username, {0} mean username -->
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="userFilter"></property>
                <property name="value"
                  value="(&amp;(sAMAccountName={0})(objectclass=organizationalPerson))"></property>
              </bean>
              <!-- Define spring ldap template bean name  -->
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="ldapTemplateBeanName"></property>
                <property name="value" value="adTamLdapTemplate"></property>
              </bean>
              <!-- Define baseDN -->
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="baseDn"></property>
                <property name="value" value="${idp.ad.ldap.user.baseDn}"></property>
              </bean>
              <!-- Define passwordFilter -->
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="passwordFilter"></property>
                <property name="value" value="${idp.ad.ldap.passwordFilter}"></property>
              </bean>
              <!-- Define Bind Mode  -->
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="bindMode"></property>
                <property name="value" value="true"></property>
              </bean>
            </list>
          </property>
        </bean>
      </list>
    </property>
  </bean>
  
</beans>