/*
Design by SIAM Team
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: 0 none;
	font: inherit;
	margin: 0;
	padding: 0;
}
body {
	color: #686868;
	font-family: simsun,Helvetica,Arial,Verdana,Geneva,sans-serif;
	font-size: 14px;
}
a {
	color: navy;
	text-decoration: none;
}
a:hover {
	color: red;
}

#left-logo{
	height: 320px;
	width: 350px;
	background: url("../images/login/boc100.png") no-repeat scroll 3px 0 transparent;
	display: block;
	float: left;
	padding: 0px 0px 0px 0px;
	font-weight: bold;
	color: #444444;
}

#menu{
	font-weight: bold;
	font-size:25px;
	vertical-align: middle;
    padding-top: 20px;
    margin-left : 40px;
}

#menu-logo{
	height:56px;
	width: 250px;
	background: url("../images/login/boc100_LOGO.gif") no-repeat scroll 3px 0 transparent;
	display: block;
	float: left;
	padding: 5px 0 5px 34px;
	font-weight: bold;
	color: #444444;
}


#header, #main, #footer {
	margin: 0 auto;
	width: 780px;	
	clear: both;
}
#banner {
	height: 120px;
}
#logo {
	background: url("../images/login/logo2.png") no-repeat scroll 0 0 none;
	display: block;
	float: left;
	height: 60px;
	margin: 10px 0 0 16px;
	width: 60px;
}
#slogan {
	float: left;
	margin: 0;
	padding: 10px 0 0 6px;
	width: 240px;
}
#slogan h1 {
	font: bold 36px/100% "SimHei",Times,serif;
	letter-spacing: 2px;
	margin: 0;
	padding: 4px 0 0 12px;
	text-transform: lowercase;
}
#slogan h2 {
	color: #D9170E;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 150%;
	margin: 0;
	padding: 0 0 0 1px;
	text-transform: uppercase;
}
#slogan h2 a {
	color: #9AA9B1;
}
#slogan a {
	color: #D9170E;
	text-decoration: none;
}

#slides {
	background: url("../images/login/boc100_LOGO.gif") no-repeat scroll 3px 0 transparent;
	display: block;
	float: left;
	padding: 5px 0 5px 34px;
	font-weight: bold;
	color: #444444;
}
ul#tabs
{
	border-bottom: 1px solid #ccc;
	padding-bottom: 28px;
}

ul#tabs li
{
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul#tabs li a:link, #tabs a:visited
{
	background: #F0F0F0;
	border: 1px solid #ccc;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #686868;
	float: right;
	font-family: simsun;
	font-size: 14px;
	font-weight: bold;
	line-height: 23px;
	margin-right: 8px;
	padding: 2px 10px;
	text-decoration: none;
}

ul#tabs li a.current:link, ul#tabs li a.current:hover, ul#tabs li a.current:visited
{
	background: #fff;
	border-bottom: 1px solid #fff;
	color: #444444;
}

ul#tabs li a:hover {
	color: #f00;
	background: #FFF;
}

#panel {
	background: url("../images/login/panel-bg.png") repeat-y scroll 0 0 transparent;
	margin: 16px auto;
	width: 100%;
	min-height: 300px;
	position:relative;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: hidden;
}
.line {
	border-bottom: 1px solid #ccc;
}
#footer p {
	color: silver;
	font-size: 12px;
	line-height: normal;
	padding: 30px 0 0;
	text-align: center;
	text-transform: uppercase;
}
#sidebar {
	display: block;
	float: left;
	padding: 0 0px;
}
#sidebar h3 {
	background: url("../images/login/arrows.png") no-repeat scroll 0 -33px transparent;
	padding-left: 25px;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
#sidebar h3:first-child {
	border-bottom: 1px dotted #CCC;
	margin-top: 0px;
	padding-bottom: 5px;
}
#sidebar h3 {
	border-bottom: 1px dotted #CCC;
	margin-top: 5px;
	padding-bottom: 5px;
}
#sidebar h3 a {
	color: #686868;
	text-decoration: none;
}
#sidebar h3 a:hover {
	color: red;
	text-decoration: none;
}
#sidebar h3.active {
	background-position: 0 5px;
}
#sidebar div.desc {
	padding: 12px 12px 12px 24px;
	font-size: 12px;
	color: #686868;
	line-height: 200%;
}
#sidebar div.desc ol li {
	margin-left: 22px;
}

#sidebar div.desc ol li.selected {
  margin-left: 22px;
  border: 1px solid #D3D3D3;
}

#content {
	display: block;
	float: right;
	width: 52%;	
}



#acloginpod {
	background: url("../images/login/acloginpodbg.gif") repeat-x scroll 0 0 #EBEBEB;
	border: 1px solid #D3D3D3;
	border-radius: 7px 7px 7px 7px;
	width: 320px;
	margin: 20px auto;
}
#acloginpod .loginpanel {
	margin: 22px;
}
#acloginpod form, #acloginpod fieldset {
	margin: 0 !important;
	padding: 0 !important;
}
#acloginpod legend em {
	left: -9999em;
	position: absolute;
}
#acloginpod label {
	color: #444444;
	display: block;
	font-size: 15px;
	margin-bottom: 3px;
}
#acloginpod label span.loginerror {
	color: #8D1C1C;
	font-size: 10px;
}
#acloginpod input.textinput {
	background: url("../images/login/textinputbg.gif") repeat-x scroll 0 0 #FFFFFF;
	border: 1px solid #D3D3D3;
	color: #000000;
	font-size: 15px;
	margin-bottom: 10px;
	padding: 7px 0;
	text-indent: 7px;
	width: 99%;
}
#acloginpod input.textCKcode {
  background: url("../images/login/textinputbg.gif") repeat-x scroll 0 0 #FFFFFF;
  border: 1px solid #D3D3D3;
  color: #000000;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 7px 0;
  text-indent: 7px;
  width: 50%;
}
#acloginpod input:focus {
	border-color: #77B2EE;
}
#acloginpod input.error, #acloginpod input.error:focus {
	border-color: #8D1C1C;
}
#acloginpod .errormsg {
	color: #8D1C1C;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 15px;
}
#acloginpod .acloginbttn {
	background: url("../images/login/acloginpodbttn.gif") no-repeat scroll 0 0 transparent;
	display: block;
	float: right;
	height: 42px;
	margin-top: 10px;
	width: 121px;
}
#acloginpod .acloginbttn:hover, #acloginpod .acloginbttn:focus {
	background-position: right top;
}
#acloginpod .aclogin-action label {
	border-bottom: 1px solid #D3D3D3;
	color: #777777;
	font-size: 12px;
	margin: 0 0 7px;
	padding: 0 0 5px;
}
#acloginpod .aclogin-action label input {
	vertical-align: middle;
}
#acloginpod a.forgotpass {
	color: #AAAAAA;
	font-size: 12px;
}
#acloginpod div#forgotbox {
	background: url("../images/login/icon-question.png") no-repeat scroll 3px 0 transparent;
	padding-left: 25px;
}
#acloginpod a.forgotpass:hover, #acloginpod a.forgotpass:focus {
	color: red;
}
.fl-right {
	float: right;
}
.fl-left {
	float: left;
}
.invisible {
	display: none;
}
.aui-message {
    background: none repeat scroll 0 0 #F0F0F0;
    border: 1px solid #BBBBBB;
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    margin: 0.5em auto 1em auto;
    min-height: 1em;
    width: 270px;
    padding: 1em 1em 1em 35px;
    position: relative;
}
.aui-message, .aui-message.warning, .aui-message.error, .aui-message.info, .aui-message.success, .aui-message.hint, .aui-message.load {
    color: #333333;
    font-weight: normal;
}
.aui-message.error {
    background: none repeat scroll 0 0 #FFE7E7;
    border-color: #DF9898;
}
.aui-message.warning {
    background: none repeat scroll 0 0 #FFFFDD;
    border-color: #F7DF92;
}
.aui-message.info {
    background: none repeat scroll 0 0 #E0EFFF;
    border-color: #9EB6D4;
}
.aui-message.success {
    background: none repeat scroll 0 0 #DDFADE;
    border-color: #93C49F;
}
.aui-message.hint {
    background: none repeat scroll 0 0 #DFF8FB;
    border-color: #93BBBF;
}
.aui-message.load {
    background: none repeat scroll 0 0 #DFF8FB;
    border-color: #93BBBF;
}
.aui-message .aui-icon {
    left: 8px;
    top: 1em;
    margin: 0;
}
.aui-message .aui-icon, .aui-message .aui-icon {
    background-image: url("../images/login/aui-message-icon-sprite.png");
    background-repeat: no-repeat;
    border: medium none;
    display: block;
    height: 14px;
    left: 10px;
    padding: 0;
    position: absolute;
    text-indent: -9999px;
    top: 1em;
    width: 14px;
    overflow: hidden;
    vertical-align: middle;
}
.aui-message .icon-error {
    background-position: -24px 0;
}
.aui-message .icon-generic {
    background-position: -48px 0;
}
.aui-message .icon-hint {
    background-position: -72px 0;
}
.aui-message .icon-info {
    background-position: -96px 0;
}
.aui-message .icon-success {
    background-position: -120px 0;
}
.aui-message .icon-warning {
    background-position: -144px 0;
}
.infoui-message {
    background: none repeat scroll 0 0 #F0F0F0;
    border: 1px solid #BBBBBB;
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    margin: 0.5em auto 1em auto;
    min-height: 1em;
    width: 500px;
    padding: 1em 1em 1em 35px;
    position: relative;
}
.infoui-message.info {
    background: none repeat scroll 0 0 #E0EFFF;
    border-color: #9EB6D4;
}
.icon-help {
	background-image: url("../images/login/icon-help.png");
}
/* ******************************************* */
#panel-logout {
	background:  repeat-y scroll 0 0 transparent;
	margin: 16px auto;
	width: 100%;
	min-height: 300px;
	position:relative;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: hidden;
}

#Noinfor{
	border-bottom: 0px dotted #D3D3D3;
	height:25px;
}

#logoutcontent {
	border-bottom: 0px solid #D3D3D3;
	width: 500px;
	float: left;
	margin-top: 40px;
	margin-left: 70px;	
}

#logoutcontent li {
	border-bottom: 1px solid #D3D3D3;
	width: 500px;
	float: left;
	margin-top: 40px;
	margin-left: 70px;	
}


#GLObutton{
	float: left;
	
}

#GLOAPPCount{
	float: left;
	margin-top: 10px;
}

#logoutcontent iframe{
/* 	border: 1px solid #D3D3D3; */
	overflow:hidden;
	font-size: 12px;
	color: #686868;
	width: 100px;
	height:18px;
	float:right;
	
}
/* ****************************************************** */
#APPid{
	float:left;
}