<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>CMCC HLJ SAML Server Web Console</display-name>

  <!-- Spring Parameters -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
       classpath*:com/ibm/tivoli/cmcc/server/spring/*Beans.xml,
       classpath*:com/ibm/tivoli/cmcc/web/*Beans.xml,
    </param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>classpath:log4j.xml</param-value>
  </context-param>
  <context-param>
    <param-name>log4jRefreshInterval</param-name>
    <!-- Log4J's watchdog thread, 10 seconds between config file refresh 
      checks -->
    <param-value>1000</param-value>
  </context-param>

  <!-- Listeners -->
  <!-- Log4J Listener -->
  <!-- <listener> <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class> 
    </listener> -->

  <!-- Spring Listener -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <!-- For SessionManager -->
  <listener>
    <listener-class>com.ibm.tivoli.cmcc.session.HttpSessionListenerImpl</listener-class>
  </listener>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <filter>
    <filter-name>com.ibm.tivoli.cmcc.tools.MonitorFilter</filter-name>
    <filter-class>com.ibm.tivoli.cmcc.tools.MonitorFilter</filter-class>
  </filter>

  <servlet>
    <description>Home</description>
    <display-name>Home</display-name>
    <servlet-name>com.ibm.tivoli.cmcc.web.HomeServlet</servlet-name>
    <servlet-class>com.ibm.tivoli.cmcc.web.HomeServlet</servlet-class>
  </servlet>
  <!-- Anonymous -->
  <servlet-mapping>
    <servlet-name>com.ibm.tivoli.cmcc.web.HomeServlet</servlet-name>
    <url-pattern>/service/home</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>Global Logout</description>
    <display-name>Global Logout</display-name>
    <servlet-name>com.ibm.tivoli.cmcc.web.test.LogoutServlet</servlet-name>
    <servlet-class>com.ibm.tivoli.cmcc.web.test.LogoutServlet</servlet-class>
  </servlet>
  <!-- Anonymous or authenticated -->
  <servlet-mapping>
    <servlet-name>com.ibm.tivoli.cmcc.web.test.LogoutServlet</servlet-name>
    <url-pattern>/service/logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>com.ibm.tivoli.cmcc.web.PasswordResetServlet</description>
    <display-name>com.ibm.tivoli.cmcc.web.PasswordResetServlet</display-name>
    <servlet-name>com.ibm.tivoli.cmcc.web.PasswordResetServlet</servlet-name>
    <servlet-class>com.ibm.tivoli.cmcc.web.PasswordResetServlet</servlet-class>
  </servlet>
  <!-- Anonymous -->
  <servlet-mapping>
    <servlet-name>com.ibm.tivoli.cmcc.web.PasswordResetServlet</servlet-name>
    <url-pattern>/service/pwdreset</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>com.ibm.tivoli.cmcc.web.AuthenRequestServlet</description>
    <display-name>com.ibm.tivoli.cmcc.web.AuthenRequestServlet</display-name>
    <servlet-name>com.ibm.tivoli.cmcc.web.AuthenRequestServlet</servlet-name>
    <servlet-class>com.ibm.tivoli.cmcc.web.AuthenRequestServlet</servlet-class>
    <init-param>
      <!-- true or false, true - challenge login box by application, false 
        - challenge login box by FSSO -->
      <param-name>ChallengeLoginByApp</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <!-- Anonymous -->
  <servlet-mapping>
    <servlet-name>com.ibm.tivoli.cmcc.web.AuthenRequestServlet</servlet-name>
    <url-pattern>/service/authen/request</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>com.ibm.tivoli.cmcc.web.AuthenResponseServlet</description>
    <display-name>com.ibm.tivoli.cmcc.web.AuthenResponseServlet</display-name>
    <servlet-name>com.ibm.tivoli.cmcc.web.AuthenResponseServlet</servlet-name>
    <servlet-class>com.ibm.tivoli.cmcc.web.AuthenResponseServlet</servlet-class>
  </servlet>
  <!-- Authenticated -->
  <servlet-mapping>
    <servlet-name>com.ibm.tivoli.cmcc.web.AuthenResponseServlet</servlet-name>
    <url-pattern>/service/authen/response</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>com.ibm.tivoli.cmcc.web.LoginServlet</description>
    <display-name>com.ibm.tivoli.cmcc.web.LoginServlet</display-name>
    <servlet-name>com.ibm.tivoli.cmcc.web.LoginServlet</servlet-name>
    <servlet-class>com.ibm.tivoli.cmcc.web.LoginServlet</servlet-class>
  </servlet>
  <!-- Anonymous -->
  <servlet-mapping>
    <servlet-name>com.ibm.tivoli.cmcc.web.LoginServlet</servlet-name>
    <url-pattern>/service/authen/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>com.ibm.tivoli.cmcc.web.LoginFormServlet</description>
    <display-name>com.ibm.tivoli.cmcc.web.LoginFormServlet</display-name>
    <servlet-name>com.ibm.tivoli.cmcc.web.LoginFormServlet</servlet-name>
    <servlet-class>com.ibm.tivoli.cmcc.web.LoginFormServlet</servlet-class>
  </servlet>
  <!-- Anonymous -->
  <servlet-mapping>
    <servlet-name>com.ibm.tivoli.cmcc.web.LoginFormServlet</servlet-name>
    <url-pattern>/service/authen/showlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>com.ibm.tivoli.cmcc.web.LoginFormServlet</servlet-name>
    <url-pattern>/loginbox</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>com.ibm.tivoli.cmcc.web.MyPageServlet</description>
    <display-name>com.ibm.tivoli.cmcc.web.MyPageServlet</display-name>
    <servlet-name>com.ibm.tivoli.cmcc.web.MyPageServlet</servlet-name>
    <servlet-class>com.ibm.tivoli.cmcc.web.MyPageServlet</servlet-class>
  </servlet>
  <!-- Authenticated -->
  <servlet-mapping>
    <servlet-name>com.ibm.tivoli.cmcc.web.MyPageServlet</servlet-name>
    <url-pattern>/service/authen/mypage</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>
    </description>
    <display-name>com.ibm.tivoli.cmcc.web.LogoutServlet</display-name>
    <servlet-name>com.ibm.tivoli.cmcc.web.LogoutServlet</servlet-name>
    <servlet-class>com.ibm.tivoli.cmcc.web.LogoutServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.ibm.tivoli.cmcc.web.LogoutServlet</servlet-name>
    <url-pattern>/service/authen/logout</url-pattern>
  </servlet-mapping>

  <servlet>
  	<description>
  	</description>
  	<display-name>com.ibm.tivoli.cmcc.web.CheckCodeImageServlet</display-name>
  	<servlet-name>com.ibm.tivoli.cmcc.web.CheckCodeImageServlet</servlet-name>
  	<servlet-class>com.ibm.tivoli.cmcc.web.CheckCodeImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>com.ibm.tivoli.cmcc.web.CheckCodeImageServlet</servlet-name>
  	<url-pattern>/check_code_img</url-pattern>
  </servlet-mapping>
  
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
