<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
  xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
  
  <!-- TAM LDAP User Password Login Context -->
  <bean id="idp.jaas.loginModule.TamLdapUserPassAuth" class="com.ibm.tivoli.jaas.config.LoginContextItem">
    <!-- Login Context Name, which be referenced by JAAS -->
    <property name="name" value="TamLdapUserPassAuth"></property>
    <!-- Login Module Chain -->
    <property name="loginModules">
      <list>
        <!-- VerifyCode check Login Module -->
        <bean class="com.ibm.tivoli.jaas.config.LoginModuleItem">
          <property name="loginModuleClass"
            value="com.sinopec.siam.am.idp.authn.module.VerifyCodeCheckLoginModule"></property>
          <property name="moduleFlag" value="REQUISITE"></property>
          <property name="moduleOptions">
            <list>
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="loginOptFlag"></property>
                <property name="value" value="login"></property>
              </bean>
            </list>
          </property>
        </bean>
        <!-- User Lock State Check Login Module, Where user is locked, this login will fail -->
        <bean class="com.ibm.tivoli.jaas.config.LoginModuleItem">
          <property name="loginModuleClass"
            value="com.sinopec.siam.am.idp.authn.module.CheckUserLockStateLoginModule"></property>
          <property name="moduleFlag" value="REQUISITE"></property>
          <property name="moduleOptions">
            <list>
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="userLockServiceBeanId"></property>
                <property name="value" value="tamLocalUserLockService"></property>
              </bean>
            </list>
          </property>
        </bean>
        <!-- LDAP Login Module: Composite TAM LDAP and AD Login Modules -->
        <bean class="com.ibm.tivoli.jaas.config.LoginModuleItem">
          <property name="loginModuleClass"  value="com.sinopec.siam.am.idp.authn.LoginContextBasedLoginModule"></property>
          <property name="moduleFlag" value="required"></property>
          <property name="moduleOptions">
            <list>
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="loginContextManagerBeanName"></property>
                <property name="value" value="loginContextManager"></property>
              </bean>
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="jaasConfigName"></property>
                <property name="value" value="ldapAndAdLogin"></property>
              </bean>
            </list>
          </property>
        </bean>
        <!-- Update Lock State Login Module, Base on previouse login modules, this module will count failure login. -->
        <bean class="com.ibm.tivoli.jaas.config.LoginModuleItem">
          <property name="loginModuleClass"
            value="com.sinopec.siam.am.idp.authn.module.UpdateUserLockStateLoginModule"></property>
          <property name="moduleFlag" value="REQUISITE"></property>
          <property name="moduleOptions">
            <list>
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="userLockServiceBeanId"></property>
                <property name="value" value="tamLocalUserLockService"></property>
              </bean>
            </list>
          </property>
        </bean>
        <!-- TAM and AD Mapping Login Module -->
        <bean class="com.ibm.tivoli.jaas.config.LoginModuleItem">
          <property name="loginModuleClass"
            value="com.sinopec.siam.am.idp.authn.module.tamldap.TamAndADMappingLoginModule"></property>
          <property name="moduleFlag" value="REQUISITE"></property>
          <property name="moduleOptions">
            <list>
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="adEntryDnSuffix"></property>
                <property name="value" value="${idp.ad.ldap.user.baseDn}"></property>
              </bean>
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="tamAdMappingFilter"></property>
                <property name="value" value="${idp.loginmodule.tam.login.tamAdMappingFilter}"></property>
              </bean>
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="returnAttributeNames"></property>
                <property name="value" value="${idp.loginmodule.login.returnAttributeNames}"></property>
              </bean>
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="userServiceBeanId"></property>
                <property name="value" value="tamLdapUserService"></property>
              </bean>
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="storageServiceBeanId"></property>
                <property name="value" value="shibboleth.StorageService"></property>
              </bean>
            </list>
          </property>
        </bean>
        <!-- User Account Valid -->
        <bean class="com.ibm.tivoli.jaas.config.LoginModuleItem">
          <property name="loginModuleClass"
            value="com.sinopec.siam.am.idp.authn.module.CheckUserAcctValidLoginModule"></property>
          <property name="moduleFlag" value="REQUISITE"></property>
          <property name="moduleOptions">
            <list>
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="userServiceBeanId"></property>
                <property name="value" value="tamLdapUserSecAuthrityService"></property>
              </bean>
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="userAcctValidAttr"></property>
                <property name="value" value="${idp.loginmodule.tam.login.userAcctValidAttr}"></property>
              </bean>
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="userNameAttr"></property>
                <property name="value" value="${idp.loginmodule.tam.login.secauthority.userNameAttr}"></property>
              </bean>
            </list>
          </property>
        </bean>
        <!-- User Pass Past Due Login Module -->
        <bean class="com.ibm.tivoli.jaas.config.LoginModuleItem">
          <property name="loginModuleClass"
            value="com.sinopec.siam.am.idp.authn.module.UserPassPastDueLdapLoginModule"></property>
          <property name="moduleFlag" value="REQUISITE"></property>
          <property name="moduleOptions">
            <list>
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="userPassServiceBeanId"></property>
                <property name="value" value="timUserPassService"></property>
              </bean>
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="userPassPastDueTime"></property>
                <property name="value" value="${idp.loginmodule.userpasswd.pastDue.time}"></property>
              </bean>
            </list>
          </property>
        </bean>
        <!-- User Pass Reset Login Module -->
        <bean class="com.ibm.tivoli.jaas.config.LoginModuleItem">
          <property name="loginModuleClass"
            value="com.sinopec.siam.am.idp.authn.module.UserPassResetLdapLoginModule"></property>
          <property name="moduleFlag" value="REQUISITE"></property>
          <property name="moduleOptions">
            <list>
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="userPassServiceBeanId"></property>
                <property name="value" value="timUserPassService"></property>
              </bean>
            </list>
          </property>
        </bean>
        <!-- Set User Pass Hint Login Module -->
        <bean class="com.ibm.tivoli.jaas.config.LoginModuleItem">
          <property name="loginModuleClass"
            value="com.sinopec.siam.am.idp.authn.module.SetPasswordHintLoginModule"></property>
          <property name="moduleFlag" value="REQUISITE"></property>
          <property name="moduleOptions">
            <list>
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="userPassServiceBeanId"></property>
                <property name="value" value="timUserPassRecQueService"></property>
              </bean>
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="setPassHintFlag"></property>
                <property name="value" value="setPasswordHint"></property>
              </bean>
            </list>
          </property>
        </bean>
        <!-- Password Remind Login Module -->
        <bean class="com.ibm.tivoli.jaas.config.LoginModuleItem">
          <property name="loginModuleClass"
            value="com.sinopec.siam.am.idp.authn.module.UserPassRemindLdapLoginModule"></property>
          <property name="moduleFlag" value="REQUISITE"></property>
          <property name="moduleOptions">
            <list>
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="userPassServiceBeanId"></property>
                <property name="value" value="timUserPassService"></property>
              </bean>
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="userPassPastDueTime"></property>
                <property name="value" value="${idp.loginmodule.userpasswd.pastDue.time}"></property>
              </bean>
              <bean class="com.ibm.tivoli.jaas.config.ModuleOption">
                <property name="name" value="remindPasswordTime"></property>
                <property name="value" value="${idp.loginmodule.userpasswd.pastDue.remindPasswordTime}"></property>
              </bean>
            </list>
          </property>
        </bean>
        <bean class="com.ibm.tivoli.jaas.config.LoginModuleItem">
          <property name="loginModuleClass"
            value="com.sinopec.siam.am.idp.authn.module.ValidateReAuthenLoginModule"></property>
          <property name="moduleFlag" value="REQUISITE"></property>
        </bean>
      </list>
    </property>
  </bean>
  
</beans>